/***** GENERAL *****/
.bookacti-nav-tab-wrapper { margin-bottom: 16px !important; }
.bookacti-tip.dashicons-editor-help:before { color: #565d61; }
#tiptip_content {
    color: #fff;
    font-size: .9em;
    max-width: 200px;
    background: #333;
    text-align: center;
    border-radius: 3px;
    padding: 0.5em 1em;
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.2 );
}

.bookacti-disabled		{ cursor: auto; pointer-events: none; opacity: 0.5; }
.bookacti-hide-fields	{ display: none; }
.bookacti-show-fields	{ display: block; }

.wp-admin select.bookacti-select[multiple]:hover,
.wp-admin select.bookacti-items-select-box[multiple]:hover { color: initial; }
.wp-admin select.bookacti-select[multiple] option:hover,
.wp-admin select.bookacti-items-select-box[multiple] option:hover { color: #007cba; }

ul[id$='-select-box-results'] li[aria-disabled='true'] { display: none; }

.bookacti-error > span, .bookacti-warning > span, .bookacti-info > span, .bookacti-sos > span		{ display: table-cell; vertical-align: middle; }
.bookacti-error > .dashicons,.bookacti-warning > .dashicons, .bookacti-info > .dashicons, .bookacti-sos > .dashicons{ font-size: 1.5em; padding-right: 10px; }
.bookacti-error a, .bookacti-warning a, .bookacti-info a, .bookacti-sos a							{ color: #0073aa; text-decoration: none; }
.bookacti-error a:hover, .bookacti-warning a:hover, .bookacti-info a:hover, .bookacti-sos a:hover	{ color: #00a0d2; }
.bookacti-error > .dashicons		{ color: #b81c23; }
.bookacti-warning > .dashicons		{ color: #f89b2f; }
.bookacti-info > .dashicons			{ color: #00a0d2; }
.bookacti-sos						{ width: auto; height: auto; }
.bookacti-sos > .dashicons			{ color: #ca4a1f; text-align: center; width: auto; max-width: 50px; }
.bookacti-sos > .dashicons:after	{ content: attr( data-label ); display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-transform: uppercase; font-size: 10px; font-weight: bold; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

.wp-core-ui .button.bookacti-delete-button			{ color: #a00; border-color: #a00; }
.wp-core-ui .button.bookacti-delete-button:hover	{ color: #dc3232; border-color: #dc3232; }
.wp-core-ui .button.bookacti-delete-button:focus	{ border-color: #dc3232; color: #dc3232; box-shadow: 0 0 0 1px #dc3232; }

.bookacti-addon-promo			{ border: 2px solid #52b7e9; border-radius: 3px; padding: 10px; text-align: center; }
.bookacti-addon-promo .button	{ margin-top: 10px; }

#bookacti-fatal-error			{ margin: 1em; }

.bookacti-help-list		{ list-style-type: disc; padding-inline-start: 20px; }
.bookacti-help-list ul	{ list-style-type: circle; padding-inline-start: 20px; margin-top: 3px; }

.bookacti-add-ons-compatibility-notice li { list-style-type: disc; margin-left: 30px;  }


/***** CALENDAR *****/
/** EVENTS **/
.bookacti-hidden-event    { display: none; }

.bookacti-available-places.bookacti-booked, 
.bookacti-available-places.bookacti-not-booked,
.bookacti-available-places.bookacti-full, 
.bookacti-available-places.bookacti-no-availability,
#bookacti-template-calendar .bookacti-available-places.bookacti-booked { color: #fff; }

#bookacti-template-calendar .bookacti-available-places.bookacti-booked, 
#bookacti-template-calendar .bookacti-available-places.bookacti-not-booked		{ background-color: #4ead3b; }
#bookacti-template-calendar .bookacti-available-places.bookacti-full, 
#bookacti-template-calendar .bookacti-available-places.bookacti-no-availability	{ background-color: #ab3b3b; }
#bookacti-template-calendar .bookacti-available-places.bookacti-booked			{ background-color: #e39102; }


/***** SETTINGS *****/
#bookacti-settings input:not([type='submit']):not([type='checkbox']):not([type='radio']):not([type='button']):not(.button):not(.bookacti-duration-field),
#bookacti-settings select	{ min-width: 300px; max-width: 300px; display: inline-block; }
#bookacti-settings textarea	{ min-width: 300px;  }

#bookacti-settings textarea { min-height: 100px; }
#bookacti-settings .bookacti-message-setting textarea { min-height: 0; resize: both; }

.bookacti-select[multiple], 
.bookacti-items-select-box	{ resize: both; max-width: none; max-height: none; }

#bookacti_refund_actions { display: inline-block; }

.bookacti-settings-table		{ border-collapse: collapse; border: 1px solid #e5e5e5; background-color: #fff; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04); box-shadow: 0 1px 1px rgba(0,0,0,.04); }
.bookacti-settings-table th		{ text-align: left; padding: 10px; border-bottom: 1px solid #e1e1e1; }
.bookacti-settings-table td		{ vertical-align: middle; padding: 5px 10px; }
.bookacti-settings-table tbody tr:nth-child( 2n+1 )	{ background-color: #f9f9f9; }
.bookacti-settings-table img	{ max-height: 24px; max-width: 24px; }

.bookacti-settings-table .dashicons-yes:before	{ color: #3cb371; }
.bookacti-settings-table .dashicons-no:before	{ color: #cd5c5c; }

.bookacti-notification-id-container { display: inline-block; font-size: 13px; font-weight: normal; }
#bookacti-notifications-list-column-title { width: 350px; }
.bookacti-settings-table .bookacti-notifications-list-column-value-title a { text-decoration: none; font-weight: bold; }
.bookacti-notifications-list-column-value-actions .button { vertical-align: middle; }

#bookacti-notifications-list-column-active			{ width: 1px; }
.bookacti-notifications-list-column-value-active	{ text-align: center; }

.bookacti-notifications-list-column-value-actions a .dashicons:before		{ color: #565d61; }
.bookacti-notifications-list-column-value-actions a .dashicons:hover:before { color: #418fb6; }

#bookacti-banp-promo				{ max-width: 500px; margin-top: 20px; }
.bookacti-notifications-tag-promo	{ background: #ffff78; }

.bookacti-notifications-tags-list { max-height: 520px; max-width: 220px; overflow: auto; }
.bookacti-notifications-tags-list .bookacti-notifications-tag { margin-bottom: 8px; white-space: nowrap; }
.bookacti-notifications-tag code { font-weight: normal; font-size: 0.8em; }

.bookacti-settings-tab-messages .form-table th			{ display: none; }
.bookacti-settings-tab-messages .form-table td			{ padding: 0 0 20px 0; font-size: 13px; }
.bookacti-settings-tab-messages #calendar_localization	{ margin-top: 6px; }

.bookacti-message-setting		{ margin-bottom: 20px; }
.bookacti-message-setting input	{ margin-top: 6px; }

.bookacti_checkbox	{ display: inline-block; margin-right: 20px; padding: 1px; min-width: 100px; max-width: 100px; box-sizing: border-box; overflow: hidden; white-space: nowrap; }
#bookacti_refund_actions .bookacti_checkbox { max-width: none; overflow: visible; }

.bookacti-licenses-settings-description				{ margin-bottom: 40px; }
.bookacti-licenses-settings-description strong		{ font-size: 14px; }
.bookacti-licenses-settings-description + .submit	{ display: none; }


/** DIALOGS **/
.bookacti-input-warning		{ border-color: #d80 !important; }
.bookacti-input-error		{ border-color: #f00 !important; }
.bookacti-form-error		{ color: #f00; font-style: italic; }
.bookacti-form-warning		{ color: orange; font-style: italic; }
.bookacti-error-exception	{ color: orange; }

.bookacti-backend-dialog	{ display: none; }

.bookacti-backend-dialog fieldset			{ border: 1px solid #bbb; -webkit-border-radius: 3px; border-radius: 3px; padding: 10px; margin-bottom: 10px; }
.bookacti-backend-dialog fieldset legend	{ margin: auto; font-weight: 600; }
fieldset.bookacti-fieldset-no-css			{ border: none; border-top: 1px solid #bbb; -webkit-border-radius: 0; border-radius: 0; padding: 0; }
.bookacti-tags-fieldset code				{ line-height: 1.8em; }

.bookacti-backend-dialog .bookacti-field-container,
.bookacti-backend-dialog > div,
.bookacti-backend-dialog form > div,
.bookacti-backend-dialog form fieldset > div,
.bookacti-tabs .bookacti-tab-content > div				{ margin-bottom: 10px; }
.bookacti-backend-dialog .bookacti-field-container:last-child,
.bookacti-backend-dialog > div:last-child,
.bookacti-backend-dialog form > div:last-child,
.bookacti-backend-dialog form fieldset > div:last-child,
.bookacti-tabs .bookacti-tab-content > div:last-child	{ margin-bottom: 0; }

.bookacti-backend-dialog input:not([type='submit']):not([type='checkbox']):not([type='file']):not([type='radio']):not([type='button']):not([type='number']):not([type='color']):not(.button),
.bookacti-backend-dialog select												{ width: 150px; max-width: 150px; }
.bookacti-backend-dialog .bookacti-fullwidth-label + input:not([type='submit']):not([type='checkbox']):not([type='file']):not([type='radio']):not([type='button']):not([type='number']):not([type='color']):not(.button),
.bookacti-backend-dialog .bookacti-fullwidth-label + select					{ width: 100%; max-width: none; }
.bookacti-backend-dialog select[multiple]									{ max-width: none; }
.bookacti-backend-dialog textarea											{ width: 100%; height: 50px; text-align: left; }
.bookacti-backend-dialog input[type='number']:not(.bookacti-duration-field)	{ width: 80px; max-width: 80px; }

.bookacti-backend-dialog .bookacti-multiple-select-container		{ margin-left: 5px; }
.bookacti-backend-dialog .bookacti-multiple-select-container label	{ display: inline-block; vertical-align: top; margin-top: 0.5em; color: #565d61; }

.bookacti-hidden-field								{ display: none; }
.bookacti-show-hide-advanced-options				{ margin: auto; text-align: center; color: #0073aa; cursor: pointer; }
.bookacti-show-hide-advanced-options:hover			{ color: #00a0d2; text-decoration: none; }
.bookacti-show-hide-advanced-options::after			{ font-family: 'dashicons'; }
.bookacti-show-hide-advanced-options.bookacti-show-advanced-options::after	{ content: '\f140'; }
.bookacti-show-hide-advanced-options.bookacti-hide-advanced-options::after	{ content: '\f142'; }
fieldset legend .bookacti-show-hide-advanced-options{ cursor: pointer; color: #0073aa; font-weight: normal; margin: 0 5px 0 10px; }

.bookacti-lang-switcher { margin-bottom: 10px; }

.bookacti-backend-dialog .bookacti_export_url				{ display: table; width: 100%; }
.bookacti-backend-dialog .bookacti_export_url_field			{ display: table-cell; width: 100%; }
.bookacti-backend-dialog .bookacti_export_button			{ display: table-cell; vertical-align: middle; padding-left: 10px; }
.bookacti-backend-dialog .bookacti_export_url_field input,
.bookacti-backend-dialog #bookacti-login-form-shortcode		{ padding: 5px 10px; max-width: none !important; width: 100% !important; }

.bookacti-backend-dialog div > label:not(.bookacti-onoffswitch-label):not(.bookacti-refund-option-label):not(.bookacti-fullwidth-label):not(.bookacti-duration-field-label)	{ display: inline-block; width: 150px; font-weight: bold; }
.bookacti-backend-dialog div > label.bookacti-fullwidth-label																												{ display: block; width: 100%; font-weight: bold; cursor: auto; }
.bookacti-backend-dialog div > input:not([type="hidden"]) + label:not(.bookacti-onoffswitch-label):not(.bookacti-refund-option-label):not(.bookacti-duration-field-label)	{ display: inline; width: auto; font-weight: normal; }

/* Tabs */
.bookacti-tabs .bookacti-tab-content { max-height: 400px; overflow-y: auto; }
.bookacti-tabs .bookacti-tab-content .bookacti-display-inline-block { display: inline-block; }


/* Specific fields */
.bookacti-duration-field-container	{ display: inline-block; vertical-align: middle; margin-right: 4px; }
.bookacti-duration-field			{ width: 60px; }
.bookacti-duration-field-label		{ display: block; }
.bookacti-duration-hint				{ font-size: smaller; font-style: italic; }
.bookacti-field-container .bookacti-duration-hint { text-align: right; }

.bookacti-delete-days-off							{ cursor: pointer; color: #565d61; }
.bookacti-add-days-off								{ cursor: pointer; color: #418fb6; }
.bookacti-days-off-table-container					{ max-height: 130px; overflow-y: auto; }


/* ON / OFF Switch */
.bookacti-onoffswitch-knobs, .bookacti-onoffswitch-layer { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.bookacti-onoffswitch { position: relative; display: inline-block; vertical-align: middle; width: 64px; height: 22px; overflow: hidden; }
.bookacti-onoffswitch, .bookacti-onoffswitch .bookacti-onoffswitch-layer { border-radius: 2px; }
input[type=checkbox].bookacti-onoffswitch-checkbox { position: relative; width: 100%; height: 100%; padding: 0; margin: 0; opacity: 0; cursor: pointer; z-index: 3; }
.bookacti-onoffswitch-knobs { z-index: 2; }
.bookacti-onoffswitch-layer { width: 100%; background-color: #f5f5f5; border: 1px solid #8c8f94; box-sizing: border-box; transition: 0.3s ease all; z-index: 1; }
.bookacti-onoffswitch .bookacti-onoffswitch-knobs:before { content: 'OFF'; position: absolute; top: 0; left: 0; width: 20px; color: #fff; font-size: 10px; font-weight: bold; text-align: center; line-height: 1; padding: 6px; background-color: #565d61; border-radius: 2px; transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all; }
.bookacti-onoffswitch .bookacti-onoffswitch-checkbox:checked + .bookacti-onoffswitch-knobs:before { content: 'ON'; left: 32px; background-color: #418FB6; }
.bookacti-onoffswitch .bookacti-onoffswitch-checkbox:checked ~ .bookacti-onoffswitch-layer { background-color: rgba( 65, 143, 182, 0.12 ); }
.bookacti-onoffswitch .bookacti-onoffswitch-knobs, .bookacti-onoffswitch .bookacti-onoffswitch-knobs:before, .bookacti-onoffswitch .bookacti-onoffswitch-layer { transition: 0.3s ease all; }
.rtl .bookacti-onoffswitch .bookacti-onoffswitch-knobs:before { left: 32px; }
.rtl .bookacti-onoffswitch .bookacti-onoffswitch-checkbox:checked + .bookacti-onoffswitch-knobs:before { left: 0; }