/***** GENERAL *****/
.bookacti-nav-tab-wrapper { margin-bottom: 16px !important; }
.bookacti-tip.dashicons-editor-help:before { color: #565d61; }

.bookacti-disabled		{ cursor: auto; pointer-events: none; opacity: 0.5; }
.bookacti-hide-fields	{ display: none; }
.bookacti-show-fields	{ display: block; }

.wp-admin select.bookacti-select[multiple]:hover        { color: initial; }
.wp-admin select.bookacti-select[multiple] option:hover { color: #007cba; }

ul[id$='-select-box-results'] li[aria-disabled='true'] { display: none; }

.bookacti-error > span, .bookacti-warning > span, .bookacti-info > span, .bookacti-sos > span		{ display: table-cell; vertical-align: middle; }
.bookacti-error > .dashicons,.bookacti-warning > .dashicons, .bookacti-info > .dashicons, .bookacti-sos > .dashicons{ font-size: 1.5em; padding-right: 10px; }
.bookacti-error a, .bookacti-warning a, .bookacti-info a, .bookacti-sos a							{ color: #0073aa; text-decoration: none; }
.bookacti-error a:hover, .bookacti-warning a:hover, .bookacti-info a:hover, .bookacti-sos a:hover	{ color: #00a0d2; }
.bookacti-error > .dashicons		{ color: #b81c23; }
.bookacti-warning > .dashicons		{ color: #f89b2f; }
.bookacti-info > .dashicons			{ color: #00a0d2; }
.bookacti-sos						{ width: auto; height: auto; }
.bookacti-sos > .dashicons			{ color: #ca4a1f; text-align: center; width: auto; max-width: 50px; }
.bookacti-sos > .dashicons:after	{ content: attr( data-label ); display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-transform: uppercase; font-size: 10px; font-weight: bold; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

.wp-core-ui .button.bookacti-delete-button			{ color: #a00; border-color: #a00; }
.wp-core-ui .button.bookacti-delete-button:hover	{ color: #dc3232; border-color: #dc3232; }
.wp-core-ui .button.bookacti-delete-button:focus	{ border-color: #dc3232; color: #dc3232; box-shadow: 0 0 0 1px #dc3232; }

.bookacti-addon-promo			{ border: 2px solid #52b7e9; border-radius: 3px; padding: 10px; text-align: center; }
.bookacti-addon-promo .button	{ margin-top: 10px; }

#bookacti-fatal-error			{ margin: 1em; }

.bookacti-help-list		{ list-style-type: disc; padding-inline-start: 20px; }
.bookacti-help-list ul	{ list-style-type: circle; padding-inline-start: 20px; margin-top: 3px; }

.bookacti-add-ons-compatibility-notice li { list-style-type: disc; margin-left: 30px;  }

.column-date span[title] { text-underline-offset: 3px; }

.bookacti-button-dashicons.button { padding: 0 6px; }
.bookacti-button-dashicons.button,
.bookacti-button-dashicons .dashicons,
.bookacti-button-dashicons-text.button,
.bookacti-button-dashicons-text .dashicons             { vertical-align: middle; }
.bookacti-button-dashicons-text .dashicons + span      { vertical-align: middle; margin-left: 4px; }
.rtl .bookacti-button-dashicons-text .dashicons + span { margin-left: 0; margin-right: 4px; }


/***** LIST TABLE *****/
.bookacti-list-table tr.hidden                     { display: none; }
.bookacti-list-table .alternate, 
.bookacti-list-table .striped>tbody>:nth-child(odd), 
.bookacti-list-table ul.striped>:nth-child(odd)    { -webkit-transition: background-color 400ms linear; -ms-transition: background-color 400ms linear; transition: background-color 400ms linear; }

.bookacti-list-table th.sortable a, 
.bookacti-list-table th.sorted a                   { overflow: visible; white-space: nowrap; }
.bookacti-list-table th.sortable a span, 
.bookacti-list-table th.sorted a span              { float: none; display: inline-block; vertical-align: top; }
.bookacti-list-table .sorting-indicator            { display: none !important; }
.bookacti-list-table th.asc a:focus span.sorting-indicator, 
.bookacti-list-table th.asc:hover span.sorting-indicator, 
.bookacti-list-table th.desc a:focus span.sorting-indicator, 
.bookacti-list-table th.desc:hover span.sorting-indicator, 
.bookacti-list-table th.sorted .sorting-indicator  { display: inline-block !important; }

.bookacti-list-table .wp-list-table.widefat        { border-collapse: collapse; }
.bookacti-list-table tbody td                      { vertical-align: middle; }
.bookacti-list-table .column-active .sorting-indicator,
.bookacti-list-table .column-id .sorting-indicator { display: inline-block; vertical-align: top; float: none; }
.bookacti-list-table .column-id                    { width: 40px; white-space: nowrap; text-align: center; }
.bookacti-list-table .column-active                { width: 60px; white-space: nowrap; text-align: center; }

.bookacti-list-table .bookacti-primary-data-container  { display: none; margin-left: 10px; }
.bookacti-list-table .bookacti-primary-data            { display: inline-block; margin-right: 10px; }
.bookacti-list-table .bookacti-primary-data:last-child { margin-right: 0; }

@media screen and ( max-width: 1280px ) { 
	.bookacti-list-table .check-column,
	.bookacti-list-table .column-id { width: 30px; }
}

@media screen and ( max-width: 782px ) {
	.bookacti-list-table .bookacti-primary-data-container { display: inline-block; }
	.bookacti-list-table .column-id.hidden ~ .column-primary .bookacti-column-id,
	.bookacti-list-table .is-expanded td.column-id,
	.bookacti-list-table .column-id { display: none !important; }
	.bookacti-list-table .button    { padding: 3px 6px; font-size: 1em; }
	.bookacti-list-table .is-expanded td      { text-align: left; }
	.rtl .bookacti-list-table .is-expanded td { text-align: right; }
}


/***** CALENDAR *****/
/** EVENTS **/
.bookacti-hidden-event    { display: none; }

.bookacti-available-places.bookacti-booked, 
.bookacti-available-places.bookacti-not-booked,
.bookacti-available-places.bookacti-full, 
.bookacti-available-places.bookacti-no-availability,
#bookacti-template-calendar .bookacti-available-places.bookacti-booked { color: #fff; }

#bookacti-template-calendar .bookacti-available-places.bookacti-booked, 
#bookacti-template-calendar .bookacti-available-places.bookacti-not-booked		{ background-color: #4ead3b; }
#bookacti-template-calendar .bookacti-available-places.bookacti-full, 
#bookacti-template-calendar .bookacti-available-places.bookacti-no-availability	{ background-color: #ab3b3b; }
#bookacti-template-calendar .bookacti-available-places.bookacti-booked			{ background-color: #e39102; }


/***** SETTINGS *****/
#bookacti-settings input:not([type='submit']):not([type='checkbox']):not([type='radio']):not([type='button']):not([type='search']):not(.button):not(.bookacti-duration-field),
#bookacti-settings select   { min-width: 300px; width: 300px; max-width: 300px; display: inline-block; }
#bookacti-settings textarea { min-width: 300px; width: 300px; }

#bookacti-settings textarea { min-height: 100px; }
#bookacti-settings .bookacti-message-setting textarea { min-height: 0; resize: both; }

.bookacti-select[multiple] { resize: both; max-width: none; max-height: none; }

#bookacti_refund_actions { display: inline-block; }

.bookacti-settings-table		{ border-collapse: collapse; border: 1px solid #e5e5e5; background-color: #fff; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04); box-shadow: 0 1px 1px rgba(0,0,0,.04); }
.bookacti-settings-table th		{ text-align: left; padding: 10px; border-bottom: 1px solid #e1e1e1; }
.bookacti-settings-table td		{ vertical-align: middle; padding: 5px 10px; }
.bookacti-settings-table tbody tr:nth-child( 2n+1 )	{ background-color: #f9f9f9; }
.bookacti-settings-table img	{ max-height: 24px; max-width: 24px; }

.bookacti-settings-table .dashicons-yes:before	{ color: #3cb371; }
.bookacti-settings-table .dashicons-no:before	{ color: #cd5c5c; }

.bookacti-notification-id-container { display: inline-block; font-size: 13px; font-weight: normal; }
#bookacti-notifications-list-column-title { width: 350px; }
.bookacti-settings-table .bookacti-notifications-list-column-value-title a { text-decoration: none; font-weight: bold; }
.bookacti-notifications-list-column-value-actions .button { vertical-align: middle; }

#bookacti-notifications-list-column-active			{ width: 1px; }
.bookacti-notifications-list-column-value-active	{ text-align: center; }

.bookacti-notifications-list-column-value-actions a .dashicons:before		{ color: #565d61; }
.bookacti-notifications-list-column-value-actions a .dashicons:hover:before { color: #418fb6; }

#bookacti-banp-promo				{ max-width: 500px; margin-top: 20px; }
.bookacti-notifications-tag-promo	{ background: #ffff78; }

.bookacti-notifications-tags-list { max-height: 520px; max-width: 220px; overflow: auto; }
.bookacti-notifications-tags-list .bookacti-notifications-tag { margin-bottom: 8px; white-space: nowrap; }
.bookacti-notifications-tag code { font-weight: normal; font-size: 0.8em; }

.bookacti-settings-tab-messages .form-table th			{ display: none; }
.bookacti-settings-tab-messages .form-table td			{ padding: 0 0 20px 0; font-size: 13px; }

.bookacti-message-setting		{ margin-bottom: 20px; }
.bookacti-message-setting input	{ margin-top: 6px; }

.bookacti_checkbox	{ display: inline-block; margin-right: 20px; padding: 1px; min-width: 100px; max-width: 100px; box-sizing: border-box; overflow: hidden; white-space: nowrap; }
#bookacti_refund_actions .bookacti_checkbox { max-width: none; overflow: visible; }

.bookacti-licenses-settings-description				{ margin-bottom: 40px; }
.bookacti-licenses-settings-description strong		{ font-size: 14px; }
.bookacti-licenses-settings-description + .submit	{ display: none; }


/* Tabs */
.bookacti-tabs .bookacti-tab-content .bookacti-display-inline-block { display: inline-block; }

/* Specific fields */
.bookacti-duration-field-container { display: inline-block; vertical-align: middle; margin-right: 4px; }
.bookacti-duration-field { width: 60px; }
.bookacti-duration-field-label { display: block; }
.bookacti-duration-hint { font-size: smaller; font-style: italic; }
.bookacti-field-container .bookacti-duration-hint { text-align: right; }

.bookacti-delete-date-interval           { cursor: pointer; color: #565d61; }
.bookacti-add-date-interval              { cursor: pointer; color: #418fb6; }
.bookacti-date-intervals-table-container { max-height: 130px; overflow-y: auto; }


/* ON / OFF Switch */
.bookacti-onoffswitch-knobs, .bookacti-onoffswitch-layer { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.bookacti-onoffswitch { position: relative; display: inline-block; vertical-align: middle; width: 64px; height: 22px; overflow: hidden; }
.bookacti-onoffswitch, .bookacti-onoffswitch .bookacti-onoffswitch-layer { border-radius: 2px; }
input[type=checkbox].bookacti-onoffswitch-checkbox { position: relative; width: 100%; height: 100%; padding: 0; margin: 0; opacity: 0; cursor: pointer; z-index: 3; }
.bookacti-onoffswitch-knobs { z-index: 2; }
.bookacti-onoffswitch-layer { width: 100%; background-color: #f5f5f5; border: 1px solid #8c8f94; box-sizing: border-box; transition: 0.3s ease all; z-index: 1; }
.bookacti-onoffswitch .bookacti-onoffswitch-knobs:before { content: 'OFF'; position: absolute; top: 0; left: 0; width: 20px; color: #fff; font-size: 10px; font-weight: bold; text-align: center; line-height: 1; padding: 6px; background-color: #565d61; border-radius: 2px; transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all; }
.bookacti-onoffswitch .bookacti-onoffswitch-checkbox:checked + .bookacti-onoffswitch-knobs:before { content: 'ON'; left: 32px; background-color: #418FB6; }
.bookacti-onoffswitch .bookacti-onoffswitch-checkbox:checked ~ .bookacti-onoffswitch-layer { background-color: rgba( 65, 143, 182, 0.12 ); }
.bookacti-onoffswitch .bookacti-onoffswitch-knobs, .bookacti-onoffswitch .bookacti-onoffswitch-knobs:before, .bookacti-onoffswitch .bookacti-onoffswitch-layer { transition: 0.3s ease all; }
.rtl .bookacti-onoffswitch .bookacti-onoffswitch-knobs:before { left: 32px; }
.rtl .bookacti-onoffswitch .bookacti-onoffswitch-checkbox:checked + .bookacti-onoffswitch-knobs:before { left: 0; }