/***** GENERAL *****/

.bookacti-nav-tab-wrapper { margin-bottom: 16px !important; }
.bookacti-tip.dashicons-editor-help:before { color: #565d61; }
#tiptip_content {
    color: #fff;
    font-size: .9em;
    max-width: 200px;
    background: #333;
    text-align: center;
    border-radius: 3px;
    padding: 0.5em 1em;
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.2 );
}

.bookacti-disabled		{ cursor: auto; pointer-events: none; opacity: 0.5; }
.bookacti-hide-fields	{ display: none; }
.bookacti-show-fields	{ display: block; }

.wp-admin select.bookacti-select[multiple]:hover,
.wp-admin select.bookacti-items-select-box[multiple]:hover { color: initial; }
.wp-admin select.bookacti-select[multiple] option:hover,
.wp-admin select.bookacti-items-select-box[multiple] option:hover { color: #007cba; }

.bookacti-error span, .bookacti-warning span, .bookacti-info span					{ display: table-cell; vertical-align: middle; }
.bookacti-error .dashicons,.bookacti-warning .dashicons, .bookacti-info .dashicons	{ font-size: 1.5em; padding-right: 10px; }
.bookacti-error a, .bookacti-warning a, .bookacti-info a					{ color: #0073aa; text-decoration: none; }
.bookacti-error a:hover, .bookacti-warning a:hover, .bookacti-info a:hover	{ color: #00a0d2; }
.bookacti-error .dashicons		{ color: #b81c23; }
.bookacti-warning .dashicons	{ color: #f89b2f; }
.bookacti-info .dashicons		{ color: #00a0d2; }

.bookacti-addon-promo			{ border: 2px solid #52b7e9; border-radius: 3px; padding: 10px; text-align: center; }
.bookacti-addon-promo .button	{ margin-top: 10px; }

#bookacti-fatal-error			{ margin: 1em; }


/***** CALENDAR *****/
/** EVENTS **/
.bookacti-hidden-event    { display: none; }

.bookacti-available-places.bookacti-booked, 
.bookacti-available-places.bookacti-not-booked,
.bookacti-available-places.bookacti-full, 
.bookacti-available-places.bookacti-no-availability,
#bookacti-template-calendar .bookacti-available-places.bookacti-booked { color: #fff; }

#bookacti-template-calendar .bookacti-available-places.bookacti-booked, 
#bookacti-template-calendar .bookacti-available-places.bookacti-not-booked		{ background-color: #4ead3b; }
#bookacti-template-calendar .bookacti-available-places.bookacti-full, 
#bookacti-template-calendar .bookacti-available-places.bookacti-no-availability	{ background-color: #ab3b3b; }
#bookacti-template-calendar .bookacti-available-places.bookacti-booked			{ background-color: #e39102; }


/***** SETTINGS *****/
#bookacti-settings input:not([type='submit']):not([type='checkbox']):not([type='radio']):not([type='button']):not(.button):not(.bookacti-duration-field),
#bookacti-settings select	{ min-width: 300px; max-width: 300px; }
#bookacti-settings textarea	{ min-width: 300px;  }

#bookacti-settings textarea { min-height: 100px; }
#bookacti-settings .bookacti-message-setting textarea { min-height: 0; resize: both; }

.bookacti-select[multiple], 
.bookacti-items-select-box	{ resize: both; max-width: none; max-height: none; }

#bookacti_refund_actions { display: inline-block; }

.bookacti-settings-table		{ max-width: 800px; border-collapse: collapse; border: 1px solid #e5e5e5; background-color: #fff; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04); box-shadow: 0 1px 1px rgba(0,0,0,.04); }
.bookacti-settings-table th		{ text-align: left; padding: 10px; border-bottom: 1px solid #e1e1e1; }
.bookacti-settings-table td		{ vertical-align: middle; padding: 5px 10px; }
.bookacti-settings-table tbody tr:nth-child( 2n+1 )	{ background-color: #f9f9f9; }
.bookacti-settings-table a		{ text-decoration: none; font-weight: bold; }
.bookacti-settings-table img	{ max-height: 24px; max-width: 24px; }

.bookacti-not-found-row			{ text-align: center; }
#bookacti-archive-disclaimer	{ max-width: 600px; color: #a00; }
#bookacti-archive-delete-data-note	{ margin-top: 10px; color: #a00; }
.bookacti-archive-options .bookacti-loading-alt { margin: 0 0 0 12px; display: inline-block; }
.bookacti-archive-options .bookacti-notices ul	{ margin: 12px 0 0 0; width: fit-content; }
.bookacti-archive-feedbacks-step { margin-top: 10px; }
.bookacti-archive-feedbacks-step-container,
.bookacti-archive-ids		{ display: none; margin-top: 10px; }
.bookacti-show-archive-ids	{ cursor: pointer; margin-left: 6px; vertical-align: text-bottom; }
.bookacti-archive-ids code	{ font-size: 0.8em; word-spacing: -2px; }
.bookacti-archive-results ul				{ padding: 10px; margin: 5px 0; background: rgba( 255,255,255,0.4 ); border: 1px solid #aaa; }
.bookacti-archive-results ul li:last-child	{ margin-bottom: 0; }
.bookacti-archive-action + .bookacti-archive-action:before { content: ' | '; color: #ddd; }
.bookacti-archive-action a				{ font-weight: normal; }
.bookacti-archive-delete-file a			{ color: #a00; }
.bookacti-archive-delete-file a:hover	{ color: #dc3232; }

.bookacti-settings-table .dashicons-yes:before	{ color: #3cb371; }
.bookacti-settings-table .dashicons-no:before	{ color: #cd5c5c; }

#bookacti-notifications-list-column-active			{ width: 1px; }
.bookacti-notifications-list-column-value-active	{ text-align: center; }

.bookacti-notifications-list-column-value-actions a .dashicons:before		{ color: #565d61; }
.bookacti-notifications-list-column-value-actions a .dashicons:hover:before { color: #418fb6; }

#bookacti-banp-promo				{ max-width: 500px; margin-top: 20px; }
.bookacti-notifications-tag-promo	{ background: #ffff78; }

.bookacti-notifications-tags-list { max-height: 520px; max-width: 220px; overflow: auto; }
.bookacti-notifications-tags-list .bookacti-notifications-tag { margin-bottom: 8px; white-space: nowrap; }
.bookacti-notifications-tag code { font-weight: normal; font-size: 0.8em; }

.bookati-settings-tab-messages .form-table th			{ display: none; }
.bookati-settings-tab-messages .form-table td			{ padding: 0 0 20px 0; font-size: 13px; }
.bookati-settings-tab-messages #calendar_localization	{ margin-top: 6px; }

.bookacti-message-setting		{ margin-bottom: 20px; }
.bookacti-message-setting input	{ margin-top: 6px; }

.bookacti_checkbox	{ display: inline-block; margin-right: 20px; padding: 1px; min-width: 100px; max-width: 100px; box-sizing: border-box; overflow: hidden; white-space: nowrap; }
#bookacti_refund_actions .bookacti_checkbox { max-width: none; overflow: visible; }

.bookacti-licenses-settings-description + .submit { display: none; }

.bookacti-duration-field-container	{ display: inline-block; vertical-align: middle; margin-right: 4px; }
.bookacti-duration-field			{ width: 60px; }
.bookacti-duration-field-label		{ display: block; }


/** DIALOGS **/
.bookacti-input-warning		{ border-color: #d80 !important; }
.bookacti-input-error		{ border-color: #f00 !important; }
.bookacti-form-error		{ color: #f00; font-style: italic; }
.bookacti-form-warning		{ color: orange; font-style: italic; }
.bookacti-error-exception	{ color: orange; }

.bookacti-backend-dialog	{ display: none; }

.bookacti-backend-dialog fieldset			{ border: 1px solid #bbb; -webkit-border-radius: 3px; border-radius: 3px; padding: 10px; margin-bottom: 10px; }
.bookacti-backend-dialog fieldset legend	{ margin: auto; font-weight: 600; }
fieldset.bookacti-fieldset-no-css			{ border: none; border-top: 1px solid #bbb; -webkit-border-radius: 0; border-radius: 0; padding: 0; }

.bookacti-backend-dialog .bookacti-field-container,
.bookacti-backend-dialog > div,
.bookacti-backend-dialog form > div,
.bookacti-backend-dialog form fieldset > div,
.bookacti-tabs .bookacti-tab-content > div				{ margin-bottom: 10px; }
.bookacti-backend-dialog .bookacti-field-container:last-child,
.bookacti-backend-dialog > div:last-child,
.bookacti-backend-dialog form > div:last-child,
.bookacti-backend-dialog form fieldset > div:last-child,
.bookacti-tabs .bookacti-tab-content > div:last-child	{ margin-bottom: 0; }

.bookacti-backend-dialog input:not([type='submit']):not([type='checkbox']):not([type='file']):not([type='radio']):not([type='button']):not([type='number']):not([type='color']):not(.button),
.bookacti-backend-dialog select												{ width: 150px; max-width: 150px; }
.bookacti-backend-dialog .bookacti-fullwidth-label + input:not([type='submit']):not([type='checkbox']):not([type='file']):not([type='radio']):not([type='button']):not([type='number']):not([type='color']):not(.button),
.bookacti-backend-dialog .bookacti-fullwidth-label + select					{ width: 100%; max-width: none; }
.bookacti-backend-dialog select[multiple]									{ max-width: none; }
.bookacti-backend-dialog textarea											{ width: 100%; height: 50px; text-align: left; }
.bookacti-backend-dialog input[type='number']:not(.bookacti-duration-field)	{ width: 80px; max-width: 80px; }

.bookacti-backend-dialog .bookacti-multiple-select-container		{ margin-left: 5px; }
.bookacti-backend-dialog .bookacti-multiple-select-container label	{ display: inline-block; vertical-align: top; margin-top: 0.5em; color: #565d61; }

.bookacti-hidden-field								{ display: none; }
.bookacti-show-hide-advanced-options				{ margin: auto; text-align: center; color: #0073aa; cursor: pointer; }
.bookacti-show-hide-advanced-options:hover			{ color: #00a0d2; text-decoration: none; }
.bookacti-show-hide-advanced-options::after			{ font-family: 'dashicons'; }
.bookacti-show-hide-advanced-options.bookacti-show-advanced-options::after	{ content: '\f140'; }
.bookacti-show-hide-advanced-options.bookacti-hide-advanced-options::after	{ content: '\f142'; }
fieldset legend .bookacti-show-hide-advanced-options{ cursor: pointer; color: #0073aa; font-weight: normal; margin: 0 5px 0 10px; }

.bookacti-lang-switcher { margin-bottom: 10px; }

.bookacti-backend-dialog .bookacti_export_url				{ display: table; width: 100%; }
.bookacti-backend-dialog .bookacti_export_url_field			{ display: table-cell; width: 100%; }
.bookacti-backend-dialog .bookacti_export_button			{ display: table-cell; vertical-align: middle; padding-left: 10px; }
.bookacti-backend-dialog .bookacti_export_url_field input	{ padding: 5px 10px; max-width: none !important; width: 100% !important; }

.bookacti-backend-dialog div > label:not(.bookacti-onoffswitch-label):not(.bookacti-refund-option-label):not(.bookacti-fullwidth-label):not(.bookacti-duration-field-label)	{ display: inline-block; width: 150px; font-weight: bold; }
.bookacti-backend-dialog div > label.bookacti-fullwidth-label																												{ display: block; width: 100%; font-weight: bold; cursor: auto; }
.bookacti-backend-dialog div > input:not([type="hidden"]) + label:not(.bookacti-onoffswitch-label):not(.bookacti-refund-option-label):not(.bookacti-duration-field-label)	{ display: inline; width: auto; font-weight: normal; }

/* Tabs */
.bookacti-tabs .bookacti-tab-content .bookacti-display-inline-block { display: inline-block; }



/* On/off switch */
.bookacti-onoffswitch {
	display: inline-block;
	vertical-align: middle;
	position: relative; width: 60px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.bookacti-onoffswitch-checkbox {
	display: none !important;
}
.bookacti-onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 12px;
}
.bookacti-onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.bookacti-onoffswitch-inner:before, .bookacti-onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
	font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.bookacti-onoffswitch-inner:before {
	content: "ON";
	padding-left: 8px;
	background-color: #27A1CA; color: #FFFFFF;
}
.bookacti-onoffswitch-inner:after {
	content: "OFF";
	padding-right: 8px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.bookacti-onoffswitch-switch {
	display: block; width: 12px; margin: 4px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 36px;
	border: 2px solid #999999; border-radius: 12px;
	transition: all 0.3s ease-in 0s; 
}
.bookacti-onoffswitch-checkbox:checked + .bookacti-onoffswitch-label .bookacti-onoffswitch-inner {
	margin-left: 0;
}
.bookacti-onoffswitch-checkbox:checked + .bookacti-onoffswitch-label .bookacti-onoffswitch-switch {
	right: 0px;
}
.bookacti-onoffswitch.bookacti-disabled .bookacti-onoffswitch-label		{ border: 2px solid #bbb; }
.bookacti-onoffswitch.bookacti-disabled .bookacti-onoffswitch-switch	{ background: #bbb; }
.bookacti-onoffswitch.bookacti-disabled .bookacti-onoffswitch-checkbox:checked + .bookacti-onoffswitch-label .bookacti-onoffswitch-switch { background-color: #a8cbd6; }
