/***** GENERAL *****/

.bookacti-nav-tab-wrapper { margin-bottom: 16px !important; }
.bookacti-tip.dashicons-editor-help:before { color: #565d61; }
.bookacti-tip {
	position: relative;
	vertical-align: middle;
	padding-left: 5px;
	cursor: help;
}
#tiptip_content {
    color: #fff;
    font-size: .9em;
    max-width: 200px;
    background: #333;
    text-align: center;
    border-radius: 3px;
    padding: 0.5em 1em;
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.2 );
}

.bookacti-disabled { cursor: auto; pointer-events: none; opacity: 0.5; }

.bookacti-irreversible-action span			{ display: table-cell; vertical-align: middle; }
.bookacti-irreversible-action .dashicons	{ font-size: 1.5em; color: #b81c23; padding-right: 10px; }


/***** CALENDAR *****/
/** EVENTS **/
.bookacti-hidden-event    { display: none; }

.bookacti-available-places.bookacti-booked, 
.bookacti-available-places.bookacti-not-booked,
.bookacti-available-places.bookacti-full, 
.bookacti-available-places.bookacti-no-availability,
#bookacti-template-calendar .bookacti-available-places.bookacti-booked { color: #fff; }

#bookacti-template-calendar .bookacti-available-places.bookacti-booked, 
#bookacti-template-calendar .bookacti-available-places.bookacti-not-booked		{ background-color: #4ead3b; }
#bookacti-template-calendar .bookacti-available-places.bookacti-full, 
#bookacti-template-calendar .bookacti-available-places.bookacti-no-availability	{ background-color: #ab3b3b; }
#bookacti-template-calendar .bookacti-available-places.bookacti-booked			{ background-color: #e39102; }


/***** SETTINGS *****/
#bookacti-settings input:not([type='submit']):not([type='checkbox']):not([type='radio']):not([type='button']):not(.button),
#bookacti-settings select	{ min-width: 300px; max-width: 300px; }
#bookacti-settings textarea	{ min-width: 300px;  }

#bookacti-settings textarea { min-height: 100px; }
#bookacti-settings .bookacti-message-setting textarea { min-height: 0; resize: both; }

#bookacti_refund_actions { display: inline-block; }

.bookacti-settings-table		{ max-width: 800px; border-collapse: collapse; border: 1px solid #e5e5e5; background-color: #fff; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04); box-shadow: 0 1px 1px rgba(0,0,0,.04); }
.bookacti-settings-table th		{ text-align: left; padding: 10px; border-bottom: 1px solid #e1e1e1; }
.bookacti-settings-table td		{ vertical-align: middle; padding: 5px 10px; }
.bookacti-settings-table tbody tr:nth-child( 2n+1 )	{ background-color: #f9f9f9; }
.bookacti-settings-table a		{ text-decoration: none; font-weight: bold; }
.bookacti-settings-table img	{ max-height: 24px; max-width: 24px; }

.bookacti-settings-table .dashicons-yes:before	{ color: #3cb371; }
.bookacti-settings-table .dashicons-no:before	{ color: #cd5c5c; }

#bookacti-notifications-list-column-active			{ width: 1px; }
.bookacti-notifications-list-column-value-active	{ text-align: center; }

.bookacti-notifications-list-column-value-actions a .dashicons:before		{ color: #565d61; }
.bookacti-notifications-list-column-value-actions a .dashicons:hover:before { color: #418fb6; }

#bookacti-banp-promo				{ max-width: 500px; margin-top: 20px; }
.bookacti-notifications-tag-promo	{ background: #ffff78; }

.bookacti-notifications-tags-list .bookacti-notifications-tag { margin-bottom: 8px; }
.bookacti-notifications-tag code { font-weight: normal; font-size: 0.8em; }

.bookacti-message-setting		{ margin-bottom: 20px; }
.bookacti-message-setting input	{ margin-top: 6px; }

.bookacti_checkbox	{ display: inline-block; margin-right: 20px; min-width: 100px; max-width: 100px; box-sizing: border-box; overflow: hidden; white-space: nowrap; }
#bookacti_refund_actions .bookacti_checkbox { max-width: none; overflow: visible; }

/** DIALOGS **/
.bookacti-input-warning		{ border-color: #d80 !important; }
.bookacti-input-error		{ border-color: #f00 !important; }
.bookacti-form-error		{ color: #f00; font-style: italic; }
.bookacti-form-warning		{ color: orange; font-style: italic; }
.bookacti-error-exception	{ color: orange; }

.bookacti-backend-dialog { display: none; }

.bookacti-backend-dialog fieldset          { border: 1px solid #bbb; -webkit-border-radius: 3px; border-radius: 3px; padding: 10px; margin-bottom: 10px; }
.bookacti-backend-dialog fieldset legend   { margin: auto; font-weight: 600; }

.bookacti-backend-dialog input:not([type='submit']):not([type='checkbox']):not([type='radio']):not([type='button']):not([type='time']):not([type='number']):not(.button),
.bookacti-backend-dialog select					{ width: 150px; max-width: 150px; }
.bookacti-backend-dialog input[type='number'],
.bookacti-backend-dialog input[type='time']		{ width: 80px; max-width: 80px; }
.bookacti-backend-dialog textarea				{ width: 100%; height: 50px; text-align: left; }

.bookacti-backend-dialog .bookacti-multiple-select-container		{ margin-left: 5px; }
.bookacti-backend-dialog .bookacti-multiple-select-container label	{ display: inline-block; vertical-align: top; margin-top: 0.5em; color: #565d61; }

.bookacti-hidden-field							{ display: none; }
.bookacti-show-hide-advanced-options				{ margin: auto; text-align: center; color: #52B7E9; cursor: pointer; }
.bookacti-show-hide-advanced-options:hover			{ color: #418fb6; text-decoration: underline; }
.bookacti-show-hide-advanced-options::after			{ font-family: 'dashicons'; }
.bookacti-show-hide-advanced-options.bookacti-show-advanced-options::after	{ content: '\f140'; }
.bookacti-show-hide-advanced-options.bookacti-hide-advanced-options::after	{ content: '\f142'; }

.bookacti-lang-switcher { margin-bottom: 10px; }



/* Tabs */
.bookacti-tabs .bookacti-tab-content div > label:not(.bookacti-onoffswitch-label)	{ display: inline-block; width: 150px; font-weight: bold; }
.bookacti-tabs .bookacti-tab-content div > label.bookacti-fullwidth-label			{ display: block; width: 100%; cursor: auto; }
.bookacti-tabs .bookacti-tab-content div > input:not([type="hidden"]) + label:not(.bookacti-onoffswitch-label) { display: inline; width: auto; font-weight: normal; }
.bookacti-tabs .bookacti-tab-content > div { margin-bottom: 10px; }
.bookacti-tabs .bookacti-tab-content > div:last-child { margin-bottom: 0; }
.bookacti-tabs .bookacti-tab-content .bookacti-display-inline-block { display: inline-block; }



/* On/off switch */
.bookacti-onoffswitch {
	display: inline-block;
	vertical-align: middle;
	position: relative; width: 60px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.bookacti-onoffswitch-checkbox {
	display: none !important;
}
.bookacti-onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 12px;
}
.bookacti-onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.bookacti-onoffswitch-inner:before, .bookacti-onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
	font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.bookacti-onoffswitch-inner:before {
	content: "ON";
	padding-left: 8px;
	background-color: #27A1CA; color: #FFFFFF;
}
.bookacti-onoffswitch-inner:after {
	content: "OFF";
	padding-right: 8px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.bookacti-onoffswitch-switch {
	display: block; width: 12px; margin: 4px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 36px;
	border: 2px solid #999999; border-radius: 12px;
	transition: all 0.3s ease-in 0s; 
}
.bookacti-onoffswitch-checkbox:checked + .bookacti-onoffswitch-label .bookacti-onoffswitch-inner {
	margin-left: 0;
}
.bookacti-onoffswitch-checkbox:checked + .bookacti-onoffswitch-label .bookacti-onoffswitch-switch {
	right: 0px;
}
.bookacti-onoffswitch.bookacti-disabled .bookacti-onoffswitch-label		{ border: 2px solid #bbb; }
.bookacti-onoffswitch.bookacti-disabled .bookacti-onoffswitch-switch	{ background: #bbb; }
.bookacti-onoffswitch.bookacti-disabled .bookacti-onoffswitch-checkbox:checked + .bookacti-onoffswitch-label .bookacti-onoffswitch-switch { background-color: #a8cbd6; }
