/***** BOOKINGS PAGE *****/

/** SCREEN OPTIONS **/
#screen-options-wrap #customer-hide { opacity: 0.7; pointer-events: none; cursor: not-allowed; }
#screen-options-wrap #customer-hide:hover { cursor: not-allowed; }

/** GLOBAL **/
.bookacti-bookings-title			{ margin-right: 5px; }
.bookacti-bookings-title,
.bookacti-bookings-title-gear		{ display: inline-block; vertical-align: middle; }
.bookacti-bookings-title-gear		{ cursor: pointer; width: 20px; height: 20px; }
.bookacti-bookings-title-gear img	{ max-width: 20px; max-height: 20px;}

.bookacti-bookings-title-gear[disabled],
.bookacti-bookings-filter[disabled] { opacity: 0.4; pointer-events: none; }


/** FILTERS **/
.bookacti-bookings-filter-container	{ display: inline-block;  vertical-align: top; width: 150px; margin-right: 10px; }
.bookacti-bookings-filter-title		{ font-weight: bold; line-height: 2.5em; }
.bookacti-bookings-filter-content select[multiple]			{ height: 56px; box-sizing: border-box; padding: 0; margin: 0; }
.bookacti-bookings-filter-content select[multiple] option	{ height: 22px; box-sizing: border-box; padding: 2px 4px; margin: 0; }
.bookacti-bookings-filter-content select, 
.bookacti-bookings-filter-content input, 
.bookacti-bookings-filter-content a			{ width: 150px; }

#bookacti-event-filter-container a			{ text-align: center; }
#bookacti-event-filter-container a::before	{ font-family: 'dashicons'; content: "\f508"; font-size: 1.2em; vertical-align: bottom; }

#bookacti-customer-filter-container .bookacti-combobox					{ min-height: 28px; width: 100%; }
#bookacti-customer-filter-container .bookacti-combobox > *				{ background-color: #fff; border-color: #ddd; box-shadow: inset 0 1px 0 rgba(0,0,0,.07); }
#bookacti-customer-filter-container .ui-button.bookacti-combobox-toggle	{ width: 20px; min-height: 28px; border-left: none; }
#bookacti-customer-filter-container .bookacti-combobox-input			{ padding: 2px 6px; min-width: 0; max-width: 132px; min-height: 28px; border-right: none; border-bottom-right-radius: 0; border-top-right-radius: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#bookacti-customer-filter-container .bookacti-combobox-toggle.ui-state-hover .ui-icon { background-image: url(../lib/jquery-ui/themes/booking-activities/images/ui-icons_565d61_256x240.png); }

/** BOOKING SYSTEM **/
#bookacti-booking-system-bookings-page .bookacti-booking-system-title		{ display: none; }
#bookacti-booking-system-bookings-page-container							{ display: table-cell; padding-left: 20px; vertical-align: top; }
#bookacti-bookings-container .bookacti-picked-events						{ display: none !important; }
#bookacti-booking-system-bookings-page .bookacti-calendar .bookacti-availability-container 
span:not(.bookacti-not-booked) .bookacti-active-bookings-number				{ font-weight: bold; font-size: larger; }
#bookacti-booking-system-bookings-page .bookacti-calendar .bookacti-available-places.bookacti-booked	{ background-color: rgba(255, 255, 0, 0.4); }


/** BOOKING LIST **/
#bookacti-bookings-list-container .row-actions					{ display: none; position: static; }
#bookacti-bookings-list-container tr.is-expanded .row-actions	{ display: block; }
#bookacti-bookings-list-container .has-row-actions				{ position: relative; }

#bookacti-bookings-list-container .column-id .sorting-indicator,
#bookacti-bookings-list-container .column-quantity .sorting-indicator { display: inline-block; vertical-align: top; float: none; }
#bookacti-bookings-list-container .column-id,
#bookacti-bookings-list-container .column-quantity		{ width: 40px; white-space: nowrap; text-align: center; }
#bookacti-bookings-list-container .column-state			{ width: 72px; text-align: center; }
#bookacti-bookings-list-container .column-event_title,
#bookacti-bookings-list-container .column-activity_title,
#bookacti-bookings-list-container .column-template_title,
#bookacti-bookings-list-container .column-start_date,
#bookacti-bookings-list-container .column-end_date,
#bookacti-bookings-list-container .column-creation_date	{ width: 12%; }
#bookacti-bookings-list-container .column-actions		{ width: 140px; }

.bookacti-booking-primary-data-container	{ display: none; margin-left: 10px; }
.bookacti-booking-primary-data				{ display: inline-block; margin-right: 10px; }
.bookacti-booking-primary-data:last-child	{ margin-right: 0; }

.bookacti-booking-state.bookacti-tip	{ padding: 0; }
.bookacti-booking-state					{ font-weight: bold; }
.bookacti-booking-state-good			{ color: #82c818; }
.bookacti-booking-state-warning			{ color: #f89b2f; }
.bookacti-booking-state-bad				{ color: #b81c23; }
.bookacti-booking-state:before			{ font-family: 'dashicons'; font-size: 1.6em; font-weight: bold; white-space: nowrap; }
.bookacti-booking-state-good:before		{ content: '\f147  ';  }
.bookacti-booking-state-warning:before	{ content: '\f534  ';  }
.bookacti-booking-state[data-booking-state="pending"]:before { content: '\f534  '; }
.bookacti-booking-state-bad:before		{ content: '\f158  ';  }

.wp-admin a.bookacti-booking-action										{ width: 2em; height: 2em; padding: 0; text-align: center; }
.wp-admin a.bookacti-booking-action:after								{ font-family: 'dashicons'; }
.wp-admin a.bookacti-booking-action.bookacti-change-booking-state:after	{ content: '\f464'; }
.wp-admin a.bookacti-booking-action.bookacti-reschedule-booking:after	{ content: '\f469'; }
.wp-admin a.bookacti-booking-action.bookacti-refund-booking:after		{ content: '\f526'; }
.wp-admin a.bookacti-booking-action.bookacti-view-booking-order:after	{ font-family: 'WooCommerce'; content: '\e03d'; }

a.bookacti-booking-group-action[disabled],
a.bookacti-booking-action[disabled]			{ opacity: 0.4; pointer-events: none; }
a.bookacti-booking-group-action,
a.bookacti-booking-action					{ display: inline-block; word-spacing: 0; margin: 5px 0; vertical-align: middle; }
.wp-core-ui .button.bookacti-booking-group-action,
.wp-core-ui .button.bookacti-booking-action	{ margin: 5px 0; vertical-align: middle; }

/* Shortcodes */
.bookacti-user-bookings-list		{ width: 100%; margin-bottom: 20px; }
.bookacti-user-bookings-list table	{ width: 100%; background-color: rgba( 255,255,255,0.5 ); border: 1px solid rgba(0,0,0,.1); border-collapse: separate; border-radius: 5px; }
.bookacti-user-bookings-list thead	{ background-color: rgba( 255,255,255,0.5 ); }
.bookacti-user-bookings-list th,
.bookacti-user-bookings-list td							{ padding: 8px; text-align: center; }
.bookacti-user-bookings-list td							{ border-top: 1px solid rgba(0,0,0,.1); }
.bookacti-user-bookings-list .bookacti-column-activity	{ text-align: left; }

.bookacti-user-bookings-list .bookacti-booking-events-list						{ margin: 0; }
.bookacti-user-bookings-list .bookacti-booking-events-list li:only-of-type		{ list-style-type: none; }
.bookacti-user-bookings-list .bookacti-booking-events-list li:not(:only-of-type){ margin-left: 16px; }


/** DIALOGS **/
.ui-widget { font-family: "Open Sans",sans-serif !important; font-size: 1em !important; }
.ui-dialog { overflow: visible !important; }
.ui-widget-overlay { 
    position: absolute;
    top: 0; 
    left: 0; 
    width:100%;
    height:100%;
    background: #aaa;
    opacity: 0.4;  
    z-index: 1;
}
	
	/* BUTTONS */
	.ui-dialog .ui-dialog-buttonpane { padding: .3em 1em .5em 1em !important; }
	.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: none !important; text-align: right; }
	
	.ui-widget-header .ui-state-default.bookacti-dialog-left-button,
	.ui-widget-content .ui-state-default.bookacti-dialog-left-button,
	.ui-state-default.bookacti-dialog-left-button { float: left; }
	
	/* Delete button */
	.ui-widget-header .ui-state-default.bookacti-dialog-delete-button,
	.ui-widget-content .ui-state-default.bookacti-dialog-delete-button,
	.ui-state-default.bookacti-dialog-delete-button {
		border: 1px solid #fbacac;
		color: #a10808;
		background: #fef1f1; /* Old browsers */
		background: -moz-linear-gradient(top,  #fef1f1 0%, #fef1f1 50%, #feecec 51%, #fff5f5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #fef1f1 0%,#fef1f1 50%,#feecec 51%,#fff5f5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #fef1f1 0%,#fef1f1 50%,#feecec 51%,#fff5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef1f1', endColorstr='#fff5f5',GradientType=0 ); /* IE6-9 */
	}
	
	.ui-widget-header .ui-state-hover.bookacti-dialog-delete-button,
	.ui-widget-content .ui-state-hover.bookacti-dialog-delete-button,
	.ui-state-hover.bookacti-dialog-delete-button {
		border: 1px solid #f63c3c;
		color: #a10808;
		background: #fcd9d9; /* Old browsers */
		background: -moz-linear-gradient(top,  #fcd9d9 0%, #fcd9d9 50%, #fdd3d3 51%, #ffdbdb 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #fcd9d9 0%,#fcd9d9 50%,#fdd3d3 51%,#ffdbdb 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #fcd9d9 0%,#fcd9d9 50%,#fdd3d3 51%,#ffdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd9d9', endColorstr='#ffdbdb',GradientType=0 ); /* IE6-9 */
	}
	
	
	/* BOOKING ACTIONS DIALOGS */
	#bookacti-refund-amount,
	#bookacti-refund-option-title, 
	.bookacti-refund-option							{ margin-bottom: 15px; }
	.bookacti-refund-option-radio, 
	.bookacti-refund-option-label-and-description	{ display: table-cell; vertical-align: middle; }
	.bookacti-refund-option-label-and-description	{ padding-left: 15px; }
	.bookacti-refund-option-label					{ margin-right: 2px; }
	.bookacti-refund-option-description				{ font-size: 0.8em; font-style: italic; }
	#bookacti-refund-message textarea				{ display: block; width: 100%; }
	
	#bookacti-reschedule-booking-dialog label:not(.bookacti-onoffswitch-label),
	#bookacti-change-booking-state-form label:not(.bookacti-onoffswitch-label) { display: inline-block; width: 150px; font-weight: bold; }
	#bookacti-change-booking-state-form > div				{ margin-bottom: 10px; }
	#bookacti-change-booking-state-form > div:last-child	{ margin-bottom: 0; }



/***** RESPONSIVE DESIGN *****/

/* Wordpress breakpoint for responsive WP List Table */
@media screen and ( max-width: 782px ) {
	
	#bookacti-bookings-filters-container	{ width: 100%; text-align: center; }
	.bookacti-bookings-filter-title			{ text-align: left; }
	#wpbody .bookacti-bookings-filter-content select[multiple] { height: 75px; }
	#bookacti-customer-filter-container .bookacti-combobox					{ min-height: 36px; }
	#bookacti-customer-filter-container .ui-button.bookacti-combobox-toggle	{ min-height: 36px; }
	#bookacti-customer-filter-container .bookacti-combobox-input			{ min-height: 36px; position: absolute; left: 0; }
	
	/* Backend Bookings list */
	.bookacti-booking-primary-data-container			{ display: inline-block; }
	#bookacti-bookings-list-container .column-id,
	#bookacti-bookings-list-container .column-state,
	#bookacti-bookings-list-container .quantity		{ display: none !important; }
	#bookacti-bookings-list-container .button		{ padding: 3px 6px; font-size: 1em; }
	
	/* Frontend Bookings list */
	.bookacti-user-bookings-list thead				{ display: none; }
	.bookacti-user-bookings-list td					{ display: block; text-align: right; padding: 4px 8px; }
	.bookacti-user-bookings-list td.bookacti-empty-column	{ display: none; }
	.bookacti-user-bookings-list td:first-child		{ text-align: center; font-weight: 700; }
	.bookacti-user-bookings-list tr td:first-child	{ border-top: 2px solid rgba(0,0,0,.1); }
	.bookacti-user-bookings-list tr:first-child td:first-child	{ border-top: none; }
	.bookacti-user-bookings-list td:first-child *		{ display: inline-block; }
	.bookacti-user-bookings-list td:last-child			{ text-align: center; } /* Center booking actions */
	.bookacti-user-bookings-list td:before				{ content: attr(data-title) ":"; float: left; margin-right: 6px; font-weight: 700; }
	.bookacti-user-bookings-list td:last-child:before	{ content: ''; }
	.bookacti-user-bookings-list td:first-child:before	{ content: '\2013 '; float: none; margin-right: 0; }
	.bookacti-user-bookings-list td:first-child:after	{ content: ' \2013'; }
}

/* Tablet only */
@media screen and ( min-width: 361px ) and ( max-width: 960px ) {
	
}

/* Smartphone only */
@media screen and ( max-width: 360px ) {
	.bookacti-bookings-filter-container { display: block; margin: auto; width: 80%; }
	.bookacti-bookings-filter-content select, 
	.bookacti-bookings-filter-content input, 
	.bookacti-bookings-filter-content a { width: 100%; }
	#wpbody .bookacti-bookings-filter-content select[multiple] { height: 56px; }
	#bookacti-customer-filter-container .bookacti-combobox-input			{ max-width: none; }
	#bookacti-customer-filter-container .ui-button.bookacti-combobox-toggle	{ width: 32px; }
}
