/***** BOOKINGS PAGE *****/

/** FILTERS **/
.bookacti-bookings-filter-container							{ display: inline-block; vertical-align: top; margin-right: 10px; }
.bookacti-bookings-filter-container input,
.bookacti-bookings-filter-container select,
.bookacti-bookings-filter-container button,
.bookacti-bookings-filter-container .button,
.bookacti-bookings-filter-container textarea				{ width: 150px; }
.bookacti-bookings-filter-title								{ font-weight: bold; line-height: 2.5em; }
.bookacti-bookings-filter-content select[multiple]			{ height: 60px; box-sizing: border-box; padding: 0; margin: 0; }
.bookacti-bookings-filter-content select[multiple] option	{ height: 22px; box-sizing: border-box; padding: 2px 4px; margin: 0; }

#bookacti-event-filter-container		{ margin: 20px 0; }
#bookacti-event-filter-container a		{ text-align: center; overflow: hidden; text-overflow: ellipsis; vertical-align: top; height: 30px; }
#bookacti-pick-event-filter::before		{ font-family: 'dashicons'; content: "\f508"; margin-right: 4px; font-size: 1.2em; vertical-align: top; position: relative; top: -2px; }
#bookacti-bookings-calendar-settings	{ margin-left: 3px; vertical-align: text-bottom; cursor: pointer; color: #565d61; }

#bookacti-submit-filter-container input	{ overflow: hidden; text-overflow: ellipsis; }
.bookacti-submit-filter-centered		{ display: block; margin: 20px auto; }
.bookacti-submit-filter-centered .bookacti-bookings-filter-title { display: none; }

label[for="bookacti-booking-filter-dates-from"],
label[for="bookacti-booking-filter-dates-to"] { display: inline-block; width: 40px; max-width: 40px; }
label[for="bookacti-booking-filter-dates-from"] + input#bookacti-booking-filter-dates-from,
label[for="bookacti-booking-filter-dates-to"] + input#bookacti-booking-filter-dates-to { display: inline-block; width: 108px; max-width:108px; }

.bookacti-booking-price-details-title { font-weight: 600; }


/** BOOKING SYSTEM **/
#bookacti-booking-system-filter-container									{ margin-top: 20px; }
#bookacti-booking-system-bookings-page .bookacti-booking-system-title		{ display: none; }
#bookacti-bookings-container .bookacti-picked-events						{ display: none !important; }
#bookacti-booking-system-bookings-page .bookacti-calendar .bookacti-availability-container 
.bookacti-not-booked .bookacti-active-bookings-number						{ font-weight: normal; font-size: 1em; }
#bookacti-booking-system-bookings-page .bookacti-calendar .bookacti-available-places.bookacti-booked { background-color: rgba(255,128,0,0.4); }
#bookacti-booking-system-reschedule-container,
#bookacti-booking-system-reschedule-container .bookacti-booking-system-title { margin-bottom: 20px; }

/** BOOKING LIST **/
#bookacti-booking-list-container tr.hidden { display: none; }
.alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd) {
	-webkit-transition: background-color 400ms linear;
	-ms-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
}

#bookacti-booking-list-container th.sortable a, 
#bookacti-booking-list-container th.sorted a					{ overflow: visible; white-space: nowrap; }
#bookacti-booking-list-container th.sortable a span, 
#bookacti-booking-list-container th.sorted a span				{ float: none; display: inline-block; vertical-align: top; }
#bookacti-booking-list-container .sorting-indicator				{ display: none !important; }
#bookacti-booking-list-container th.asc a:focus span.sorting-indicator, 
#bookacti-booking-list-container th.asc:hover span.sorting-indicator, 
#bookacti-booking-list-container th.desc a:focus span.sorting-indicator, 
#bookacti-booking-list-container th.desc:hover span.sorting-indicator, 
#bookacti-booking-list-container th.sorted .sorting-indicator	{ display: inline-block !important; }
#bookacti-booking-list-container .row-actions					{ display: none; position: static; }
#bookacti-booking-list-container tr.is-expanded .row-actions	{ display: block; }
#bookacti-booking-list-container .has-row-actions				{ position: relative; }

#bookacti-booking-list .wp-list-table.widefat			{ border-collapse: collapse; }
#bookacti-booking-list tbody td							{ vertical-align: middle; }
#bookacti-booking-list-container .column-id .sorting-indicator,
#bookacti-booking-list-container .column-quantity .sorting-indicator { display: inline-block; vertical-align: top; float: none; }
#bookacti-booking-list-container .column-id,
#bookacti-booking-list-container .column-quantity		{ width: 40px; white-space: nowrap; text-align: center; }
#bookacti-booking-list-container .column-payment_status,
#bookacti-booking-list-container .column-state			{ width: 50px; text-align: center; }
#bookacti-booking-list-container .column-event_title,
#bookacti-booking-list-container .column-activity_title,
#bookacti-booking-list-container .column-template_title,
#bookacti-booking-list-container .column-product,
#bookacti-booking-list-container .column-email,
#bookacti-booking-list-container .column-phone,
#bookacti-booking-list-container .column-start_date,
#bookacti-booking-list-container .column-end_date,
#bookacti-booking-list-container .column-creation_date	{ width: 12%; }
#bookacti-booking-list-container .column-actions		{ width: 210px; }

#bookacti-booking-list-container .column-id									{ padding: 8px 0; }
#bookacti-booking-list-container .column-id .bookacti-booking-group-id::before	{ content: '\0021AA  '; }
#bookacti-booking-list-container .column-id .bookacti-booking-group-indicator,
#bookacti-booking-list-container .column-id .bookacti-booking-group-id,
.bookacti-user-booking-list .bookacti-column-booking_id .bookacti-booking-group-indicator,
.bookacti-user-booking-list .bookacti-column-booking_id .bookacti-booking-group-id		{ display: block; font-size: 0.8em; font-style: italic; }

.wp-admin a.bookacti-show-booking-group-bookings.active,
.wp-admin a.bookacti-show-booking-group-bookings.active:hover								{ background-color: #3689b1; }
.wp-admin a.bookacti-show-booking-group-bookings.active:after								{ color: #fff; }
#bookacti-booking-list-container .bookacti-gouped-booking:not(.hidden) .check-column		{ border-left: 2px solid #3689b1; }
#bookacti-booking-list-container .bookacti-gouped-booking:not(.hidden) .column-actions		{ border-right: 2px solid #3689b1; }
#bookacti-booking-list-container tbody#the-list > .bookacti-gouped-booking:last-child td,		
#bookacti-booking-list-container tbody#the-list > .bookacti-gouped-booking:last-child th	{ border-bottom: 2px solid #3689b1 !important; }
#bookacti-booking-list-container tbody#the-list > .bookacti-gouped-booking:first-child td,
#bookacti-booking-list-container tbody#the-list > .bookacti-gouped-booking:first-child th,
#bookacti-booking-list-container .bookacti-booking-group + tr.bookacti-gouped-booking:not(.hidden) td,
#bookacti-booking-list-container .bookacti-booking-group + tr.bookacti-gouped-booking:not(.hidden) th,
#bookacti-booking-list-container .bookacti-gouped-booking:not(.hidden) + tr.bookacti-booking-group td,
#bookacti-booking-list-container .bookacti-gouped-booking:not(.hidden) + tr.bookacti-booking-group th,
#bookacti-booking-list-container .bookacti-gouped-booking:not(.hidden) + tr.bookacti-single-booking:not(.bookacti-gouped-booking) td,
#bookacti-booking-list-container .bookacti-gouped-booking:not(.hidden) + tr.bookacti-single-booking:not(.bookacti-gouped-booking) th { border-top: 2px solid #3689b1; }
#bookacti-booking-list-container tbody#the-list > .bookacti-gouped-booking:first-child:not(.hidden) th.check-column,
#bookacti-booking-list-container .bookacti-booking-group + tr.bookacti-gouped-booking:not(.hidden) th.check-column			{ position: relative; }
#bookacti-booking-list-container tbody#the-list > .bookacti-gouped-booking:first-child:not(.hidden) th.check-column:before,
#bookacti-booking-list-container .bookacti-booking-group + tr.bookacti-gouped-booking:not(.hidden) th.check-column:before	{ content: 'group'; position: absolute; top: 0; left: 0; padding: 0 5px 2px 3px; font-size: 0.8em; font-style: italic; background-color: #3689b1; color: #fff; border-bottom-right-radius: 4px; }

.bookacti-booking-primary-data-container	{ display: none; margin-left: 10px; }
.bookacti-booking-primary-data				{ display: inline-block; margin-right: 10px; }
.bookacti-booking-primary-data:last-child	{ margin-right: 0; }

.bookacti-payment-status.bookacti-tip,
.bookacti-booking-state.bookacti-tip	{ padding: 0; }
.bookacti-payment-status,
.bookacti-booking-state					{ font-weight: bold; }
.bookacti-payment-status-good,
.bookacti-booking-state-good			{ color: #82c818; }
.bookacti-payment-status-warning,
.bookacti-booking-state-warning			{ color: #f89b2f; }
.bookacti-payment-status-bad,
.bookacti-booking-state-bad				{ color: #b81c23; }
.bookacti-payment-status-disabled		{ color: #555; }
.bookacti-payment-status:before,
.bookacti-booking-state:before			{ font-size: 1.5em; font-weight: bold; white-space: nowrap; vertical-align: middle; }
.bookacti-payment-status-good:before,
.bookacti-booking-state-good:before		{ content: '\2714  '; }
.bookacti-payment-status-warning:before,
.bookacti-booking-state-warning:before	{ content: '\26A0  '; }
.bookacti-payment-status-bad:before,
.bookacti-booking-state-bad:before		{ content: '\2716  '; }
.bookacti-payment-status-disabled:before{ content: '\2013  '; }
.bookacti-booking-state[data-booking-state="refunded"]::before			{ content:'\0041  '; font-family: 'booking_activities_icons'; }
.bookacti-booking-state[data-booking-state="refund_requested"]::before	{ content:'\0042  '; font-family: 'booking_activities_icons'; }
.bookacti-booking-state[data-booking-state="delivered"]::before			{ content:'\2605  '; }
.bookacti-refund-coupon-code			{ display:block; font-size: 0.8em; font-style: italic; white-space: nowrap; overflow-x: auto; }

.wp-admin a.bookacti-booking-action, 
.wp-admin a.bookacti-booking-group-action				{ width: 2em; height: 2em; padding: 0; text-align: center; }
.wp-admin a.bookacti-booking-action:after,
.wp-admin a.bookacti-booking-group-action:after			{ font-family: 'dashicons'; }
.wp-admin a.bookacti-change-booking-state:after,
.wp-admin a.bookacti-change-booking-group-state:after	{ content: '\f464'; }
.wp-admin a.bookacti-change-booking-quantity:after,
.wp-admin a.bookacti-change-booking-group-quantity:after{ content: '\f156'; }
.wp-admin a.bookacti-refund-booking:after,
.wp-admin a.bookacti-refund-booking-group:after			{ content: '\f526'; }
.wp-admin a.bookacti-delete-booking:after,
.wp-admin a.bookacti-delete-booking-group:after			{ content: '\f182'; }
.wp-admin a.bookacti-view-booking-order:after,
.wp-admin a.bookacti-view-booking-group-order:after		{ font-family: 'WooCommerce'; content: '\e03d'; }
.wp-admin a.bookacti-reschedule-booking:after			{ content: '\f469'; }
.wp-admin a.bookacti-show-booking-group-bookings:after	{ content: '\f163'; }

a.bookacti-booking-group-action[disabled],
a.bookacti-booking-action[disabled]			{ opacity: 0.4; pointer-events: none; }
a.bookacti-booking-group-action,
a.bookacti-booking-action					{ display: inline-block; word-spacing: 0; margin: 5px 0; vertical-align: middle; }
.wp-core-ui .button.bookacti-booking-group-action,
.wp-core-ui .button.bookacti-booking-action	{ margin: 5px 0; vertical-align: middle; }

/* Shortcode Booking list */
.bookacti-user-booking-list			{ width: 100%; margin-bottom: 20px; }
.bookacti-user-booking-list table	{ width: 100%; background-color: rgba( 255,255,255,0.5 ); border: 1px solid rgba(0,0,0,.1); border-collapse: separate; border-radius: 5px; }
.bookacti-user-booking-list thead	{ background-color: rgba( 255,255,255,0.5 ); }
.bookacti-user-booking-list th,
.bookacti-user-booking-list td							{ padding: 8px; text-align: center; }
.bookacti-user-booking-list td							{ border-top: 1px solid rgba(0,0,0,.1); }
.bookacti-user-booking-list .bookacti-column-events		{ text-align: left; }

.bookacti-user-booking-list .bookacti-booking-events-list						{ margin: 0; }
.bookacti-user-booking-list .bookacti-booking-events-list li:only-of-type		{ list-style-type: none; }
.bookacti-user-booking-list .bookacti-booking-events-list li:not(:only-of-type)	{ margin-left: 18px; }

tr.bookacti-booking-list-selected-row								{ background-color: rgba( 65, 143, 182, 0.1 ); }
.striped>tbody>:nth-child(odd).bookacti-booking-list-selected-row	{ background-color: rgba( 65, 143, 182, 0.12 ); }

.bookacti-user-booking-list .bookacti_empty_row { display: none; }


/** DIALOGS **/
.bookacti-dialog { font-family: "Open Sans",sans-serif !important; font-size: 1em !important; overflow: visible !important; }
.bookacti-dialog ~ .ui-widget-overlay { 
    position: fixed;
    top: 0; 
    left: 0; 
    width:100%;
    height:100%;
    background: #aaa;
    opacity: 0.4;  
    z-index: 1;
}
	
	/* BUTTONS */
	.bookacti-dialog .ui-dialog-buttonpane { padding: .3em 1em .5em 1em !important; }
	.bookacti-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: none !important; text-align: right; }
	
	.bookacti-dialog .ui-widget-header .ui-state-default.bookacti-dialog-left-button,
	.bookacti-dialog .ui-widget-content .ui-state-default.bookacti-dialog-left-button,
	.bookacti-dialog .ui-state-default.bookacti-dialog-left-button { float: left; }
	
	/* Delete button */
	.bookacti-dialog .ui-widget-header .ui-state-default.bookacti-dialog-delete-button,
	.bookacti-dialog .ui-widget-content .ui-state-default.bookacti-dialog-delete-button,
	.bookacti-dialog .ui-state-default.bookacti-dialog-delete-button {
		border: 1px solid #fbacac;
		color: #a10808;
		background: #fef1f1; /* Old browsers */
		background: -moz-linear-gradient(top,  #fef1f1 0%, #fef1f1 50%, #feecec 51%, #fff5f5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #fef1f1 0%,#fef1f1 50%,#feecec 51%,#fff5f5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #fef1f1 0%,#fef1f1 50%,#feecec 51%,#fff5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef1f1', endColorstr='#fff5f5',GradientType=0 ); /* IE6-9 */
	}
	
	.bookacti-dialog .ui-widget-header .ui-state-hover.bookacti-dialog-delete-button,
	.bookacti-dialog .ui-widget-content .ui-state-hover.bookacti-dialog-delete-button,
	.bookacti-dialog .ui-state-hover.bookacti-dialog-delete-button {
		border: 1px solid #f63c3c;
		color: #a10808;
		background: #fcd9d9; /* Old browsers */
		background: -moz-linear-gradient(top,  #fcd9d9 0%, #fcd9d9 50%, #fdd3d3 51%, #ffdbdb 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #fcd9d9 0%,#fcd9d9 50%,#fdd3d3 51%,#ffdbdb 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #fcd9d9 0%,#fcd9d9 50%,#fdd3d3 51%,#ffdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd9d9', endColorstr='#ffdbdb',GradientType=0 ); /* IE6-9 */
	}
	
	
	/* BOOKING ACTIONS DIALOGS */
	#bookacti-refund-amount,
	#bookacti-refund-option-title, 
	.bookacti-refund-option							{ margin-bottom: 15px; }
	.bookacti-refund-option-radio, 
	.bookacti-refund-option-text					{ display: table-cell; vertical-align: middle; }
	.bookacti-refund-option-text					{ padding-left: 15px; }
	.bookacti-refund-option-label					{ font-weight: bold; margin-right: 2px; }
	.bookacti-refund-option-label::after			{ content: ': '; }
	.bookacti-refund-option-description				{ font-size: 0.85em; font-style: italic; }
	.bookacti-refund-option-label,
	.bookacti-refund-option-description				{ display: block; }
	#bookacti-refund-message textarea				{ display: block; width: 100%; }
	
	#bookacti-reschedule-booking-dialog label:not(.bookacti-onoffswitch-label),
	.bookacti-backend-dialog.bookacti-bookings-dialog label:not(.bookacti-onoffswitch-label):not(.bookacti-refund-option-label) { display: inline-block; width: 150px; font-family: Arial,Helvetica,sans-serif; font-weight: bold; }
	.bookacti-backend-dialog.bookacti-bookings-dialog label.bookacti-fullwidth-label:not(.bookacti-onoffswitch-label):not(.bookacti-refund-option-label) { width: 100%; }
	

/***** RESPONSIVE DESIGN *****/

/* Wordpress breakpoint for responsive WP List Table */
@media screen and ( max-width: 782px ) {
	/* Backend booking list filters */
	#bookacti-bookings-filters-container	{ width: 100%; text-align: center; }
	.bookacti-bookings-filter-title			{ text-align: left; }
	#wpbody .bookacti-bookings-filter-content select[multiple] { height: 75px; }
	
	/* Backend booking list */
	.bookacti-booking-primary-data-container			{ display: inline-block; }
	#bookacti-booking-list-container .column-id,
	#bookacti-booking-list-container .column-state,
	#bookacti-booking-list-container .column-payment_status,
	#bookacti-booking-list-container .column-quantity,
	#bookacti-booking-list-container .column-id.hidden ~ .column-primary .bookacti-column-id,
	#bookacti-booking-list-container .column-state.hidden ~ .column-primary .bookacti-booking-state,
	#bookacti-booking-list-container .column-payment_status.hidden ~ .column-primary .bookacti-payment-status { display: none !important; }
	#bookacti-booking-list-container .button		{ padding: 3px 6px; font-size: 1em; }
	#bookacti-booking-list-container .bookacti-booking-group-indicator,
	#bookacti-booking-list-container .bookacti-booking-group-id	{ display: inline; margin-left: 4px; }
	
	#bookacti-booking-list-container .bookacti-booking-primary-data .bookacti-payment-status::before			{ content: '$'; font-weight: 600; }
	#bookacti-booking-list-container .bookacti-booking-primary-data .bookacti-payment-status::after			{ font-size: smaller; vertical-align: super; }
	#bookacti-booking-list-container .bookacti-booking-primary-data .bookacti-payment-status-good:after		{ content: '\2714  '; }
	#bookacti-booking-list-container .bookacti-booking-primary-data .bookacti-payment-status-warning:after		{ content: '\26A0  '; }
	#bookacti-booking-list-container .bookacti-booking-primary-data .bookacti-payment-status-bad:after			{ content: '\2716  '; }
	#bookacti-booking-list-container .bookacti-booking-primary-data .bookacti-payment-status-disabled:after	{ content: '\2013  '; }
	
	#bookacti-booking-list-container tbody#the-list > .bookacti-gouped-booking:last-child:not(.hidden) td						{ border-bottom: none !important; }
	#bookacti-booking-list-container tbody#the-list > .bookacti-gouped-booking:last-child:not(.hidden):not(.is-expanded) td.column-primary,
	#bookacti-booking-list-container tbody#the-list > .bookacti-gouped-booking:last-child:not(.hidden) td.column-actions		{ border-bottom: 2px solid #3689b1 !important; }
	#bookacti-booking-list-container tbody#the-list > .bookacti-gouped-booking:first-child:not(.hidden) td:not(.column-primary),
	#bookacti-booking-list-container .bookacti-booking-group + tr.bookacti-gouped-booking:not(.hidden) td:not(.column-primary)	{ border-top: none; }
	#bookacti-booking-list-container .bookacti-gouped-booking:not(.hidden) td													{ border-right: 2px solid #3689b1; }
	
	/* Frontend booking list */
	.bookacti-user-booking-list thead				{ display: none; }
	.bookacti-user-booking-list td					{ display: block; text-align: right; padding: 4px 8px; }
	.bookacti-user-booking-list td.bookacti-empty-column	{ display: none; }
	.bookacti-user-booking-list td:first-child		{ text-align: center; font-weight: 700; }
	.bookacti-user-booking-list tr td:first-child	{ border-top: 2px solid rgba(0,0,0,.1); }
	.bookacti-user-booking-list tr:first-child td:first-child	{ border-top: none; }
	.bookacti-user-booking-list td:first-child *		{ display: inline-block; }
	.bookacti-user-booking-list td:last-child			{ text-align: center; } /* Center booking actions */
	.bookacti-user-booking-list td:before				{ content: attr(data-column-label) ":"; float: left; margin-right: 6px; font-weight: 700; }
	.bookacti-user-booking-list td:last-child:before	{ content: ''; }
	.bookacti-user-booking-list td:first-child:before	{ content: '\2013 '; float: none; margin-right: 0; }
	.bookacti-user-booking-list td:first-child:after	{ content: ' \2013'; }
}

/* Tablet only */
@media screen and ( min-width: 361px ) and ( max-width: 960px ) {
	
}

/* Smartphone only */
@media screen and ( max-width: 360px ) {
	.bookacti-bookings-filter-container { display: block; margin: auto; width: 80%; }
	.bookacti-bookings-filter-content select, 
	.bookacti-bookings-filter-content input, 
	.bookacti-bookings-filter-content a { width: 100%; }
	#wpbody .bookacti-bookings-filter-content select[multiple] { height: 60px; }
}
