/***** FORMS PAGE *****/

/** FORM LIST **/
.bookacti-form-primary-data-container	{ display: none; margin-left: 10px; }
.bookacti-form-primary-data				{ display: inline-block; margin-right: 10px; }
.bookacti-form-primary-data:last-child	{ margin-right: 0; }

#bookacti-form-list-container .column-id .sorting-indicator	{ display: inline-block; vertical-align: top; float: none; }
#bookacti-form-list-container .column-active,
#bookacti-form-list-container .column-id					{ width: 40px; white-space: nowrap; }
#bookacti-form-list-container .column-date,
#bookacti-form-list-container .column-author,
#bookacti-form-list-container .column-status				{ width: 10%; }

#bookacti-form-list-container .column-shortcode input,
#bookacti-form-editor-page-container #bookacti-form-shortcode { background: inherit; color: inherit; font-size: 12px; border: none; box-shadow: none; padding: 4px 8px; margin: 0; }

@media screen and ( max-width: 782px ) {
	.bookacti-form-primary-data-container { display: inline-block; }
	#bookacti-form-list-container .column-id,
	#bookacti-form-list-container .column-id.hidden ~ .column-primary .bookacti-column-id { display: none !important; }
}


/** FORM EDITOR **/

/* Page option */
body.booking-activities_page_bookacti_forms label[for='bookacti_form_publish-hide'] { display: none; }

/* Editor */
#bookacti-form-editor-container			{ border: 1px solid #e5e5e5; box-shadow: 0 1px 1px rgba(0,0,0,.04); background: #f5f5f5; margin-top: 20px; }
#bookacti-form-editor-header			{ display: flex; justify-content: space-between; padding: 8px 12px; background: #fff; border-bottom: 1px solid #e5e5e5; }
#bookacti-form-editor-title h2			{ display: inline-block; vertical-align: middle; margin: 0; padding: 0; }
#bookacti-form-editor-description		{ padding: 1em; }
#bookacti-form-editor-description p		{ padding: 0; margin: 0; font-style: italic; }
.bookacti-wc-icon-not-supported			{ position: relative; font-size: 20px; color: #cd5c5c; font-style: normal; margin-right: 13px; }
.bookacti-wc-icon-not-supported::before	{ font-family: 'WooCommerce'; content: '\e03d'; }
.bookacti-wc-icon-not-supported::after	{ font-family: 'dashicons'; content: '\f158'; font-size: 13px; position: absolute; bottom: -4px; }
#bookacti-form-editor					{ padding: 1em 1em 0 1em; }
.bookacti-form-editor-field				{ margin-bottom: 1em; border: 1px solid #e5e5e5; background: #fff; box-sizing: border-box; }
.bookacti-form-editor-field-header		{ display: flex; justify-content: space-between; cursor: move; padding: 1em; border-bottom: 1px solid #e5e5e5; transition: max-height 0.2s; }
.bookacti-form-editor-field-header h3	{ display: inline-block; vertical-align: middle; margin: 0; padding: 0; }
.bookacti-form-editor-field-body		{ padding: 1em; }
.bookacti-form-editor-field-placeholder { display: block; min-height: 47px; width: 100%; border: 1px dashed #b4b9be; margin: 1em 0; }
#bookacti-form-editor-actions > *,
.bookacti-form-editor-field-actions > *				{ display: inline-block; vertical-align: middle; color: #565d61; cursor: pointer; }
#bookacti-form-editor-actions > *:hover,
.bookacti-form-editor-field-actions > *:hover,
#bookacti-form-editor-container .dashicons-plus-alt	{ color: #418fb6; }
#bookacti-form-editor-container .dashicons-plus-alt	{ transition: all 0.2s; }
#bookacti-insert-form-field:hover					{ font-size: 32px; height: 32px; width: 32px; margin-right: -6px; transition: all 0.2s; }

.bookacti-form-editor-field-header .bookacti-wc-icon-not-supported	{ display: inline-block; vertical-align: middle; margin-right: 20px; font-weight: normal; }


/* Dialogs */
.bookacti-form-dialog form div > label:not(.bookacti-onoffswitch-label) { display: inline-block; width: 130px; max-width: 130px; font-family: Arial,Helvetica,sans-serif; font-weight: bold; }
.bookacti-form-dialog form fieldset > div,
.bookacti-form-dialog form > div			{ margin-bottom: 10px; }
.bookacti-form-dialog form fieldset > div:last-child,
.bookacti-form-dialog form > div:last-child	{ margin-bottom: 0; }

.bookacti-form-dialog .bookacti-combobox-input	{ min-width: 150px; width: 150px; }


/* Metaboxes */
#poststuff #bookacti_form_publish .inside	{ margin: 0; padding: 0; }
#bookacti-form-wc-integration-tuto img		{ width: 100%; max-width: 720px; }

/* Footer */
.booking-activities_page_bookacti_forms #wpbody #wpfooter { margin-left: 0; padding-left: 0; }


/***** FORMS FIELDS FORMATING *****/

.bookacti-booking-form .bookacti-form-field-label,
.bookacti-booking-form .bookacti-form-field							{ display: inline-block; vertical-align: middle; width: 150px; margin: 0; }
.bookacti-booking-form .bookacti-form-field-container				{ margin-bottom: 20px; }
.bookacti-booking-form .bookacti-form-field-name-submit				{ text-align: center; }
.bookacti-booking-form .bookacti-form-field-name-submit input		{ cursor: pointer; }
.bookacti-booking-form .bookacti-form-field-container > *			{ display: inline-block; margin-right: 15px; }
.bookacti-booking-form .bookacti-form-field-container > *:last-child{ margin-right: 0; }
.bookacti-booking-form .bookacti-hidden-field						{ display: none; }

.bookacti-form-field-login-field-container					{ margin-bottom: 10px; }
.bookacti-form-field-login-field-container:last-child		{ margin-bottom: 0; }
.bookacti-forgotten-password								{ font-style: italic; font-size: 0.8em; }
.forgotten-password-email									{ display: block; margin-top: 10px; }
fieldset.bookacti-register-fields							{ border: 1px solid #bbb; -webkit-border-radius: 3px; border-radius: 3px; padding: 10px; margin-bottom: 10px; }
.bookacti-forgotten-password-email							{ min-height: 30px; min-width: 300px; }
.bookacti-forgotten-password-dialog .bookacti-loading-alt	{ width: fit-content; margin: 30px auto 0 auto; }

.bookacti-required-field::before { content: '*'; color: #cd5c5c; margin: 0 2px; vertical-align: top; font-size: small; }