/***** FORMS PAGE *****/

/** FORM LIST **/
.bookacti-form-primary-data-container	{ display: none; margin-left: 10px; }
.bookacti-form-primary-data				{ display: inline-block; margin-right: 10px; }
.bookacti-form-primary-data:last-child	{ margin-right: 0; }

#bookacti-form-list-container .column-id .sorting-indicator	{ display: inline-block; vertical-align: top; float: none; }
#bookacti-form-list-container .column-id					{ width: 40px; white-space: nowrap; text-align: center; }

#bookacti-form-list-container .column-shortcode input,
#bookacti-form-editor-page-container #bookacti-form-shortcode { background: inherit; color: inherit; font-size: 12px; border: none; box-shadow: none; padding: 4px 8px; margin: 0; }

@media screen and ( max-width: 782px ) {
	.bookacti-form-primary-data-container { display: inline-block; }
	#bookacti-form-list-container .column-id,
	#bookacti-form-list-container .column-id.hidden ~ .column-primary .bookacti-column-id { display: none !important; }
}


/** FORM EDITOR **/

/* Page option */
body.booking-activities_page_bookacti_forms label[for='bookacti_form_publish-hide'] { display: none; }

/* Editor */
#bookacti-form-editor-container			{ border: 1px solid #e5e5e5; box-shadow: 0 1px 1px rgba(0,0,0,.04); background: #f5f5f5; margin-top: 20px; }
#bookacti-form-editor-title				{ background: #fff; border-bottom: 1px solid #e5e5e5; }
#bookacti-form-editor-description		{ padding: 1em; }
#bookacti-form-editor-description p		{ padding: 0; margin: 0; font-style: italic; }
#bookacti-form-editor					{ padding: 1em 1em 0 1em; }
.bookacti-form-editor-field				{ margin-bottom: 1em; border: 1px solid #e5e5e5; box-sizing: border-box; }
.bookacti-form-editor-field-header		{ max-height: 0; opacity: 0; border-bottom: 1px solid #e5e5e5; transition: max-height 0.2s; }
.bookacti-form-editor-field-header h3	{ margin: 0; padding: 1em; cursor: move; }
.bookacti-form-editor-field-body		{ padding: 1em; }

.bookacti-form-editor-field.focus		{ border: 1px solid #e5e5e5; background: #fff; transition: all 0.2s; }
.bookacti-form-editor-field.focus .bookacti-form-editor-field-header { max-height: 500px; opacity: 1; transition: max-height 1s, opacity 0.2s 0s; }

/* Metaboxes */
#poststuff #bookacti_form_publish .inside { margin: 0; padding: 0; }
#bookacti-form-wc-integration-tuto img { width: 100%; max-width: 720px; }