/***** FRONT END *****/
.bookacti-booking-system > div,
.bookacti-notices,
.bookacti-date-picked		{ margin-bottom: 20px; }
.bookacti-booking-system	{ margin-bottom: 30px; }

.bookacti-date-picked { display: none; text-align: center; }
.to_date { display: inline-block; }

.bookacti-booking-system-calendar-only .bookacti-booking-system-title,
.bookacti-booking-system-calendar-only .bookacti-date-picked { display: none !important; }