/***** FRONT END *****/
.bookacti-booking-system > div,
.bookacti-notices,
.bookacti-booking-system	{ margin-bottom: 20px; }

.bookacti-frontend-dialog { display: none; }
.bookacti-picked-events { display: none; }

.bookacti-booking-events-list { margin-left: 18px; }

.bookacti-booking-system-calendar-only .bookacti-booking-system-title,
.bookacti-booking-system-calendar-only .bookacti-picked-events { display: none !important; }

.bookacti-user-booking-list-previous-page	{ margin-right: 10px }
.bookacti-user-booking-list-next-page		{ margin-left: 10px }