/***** FRONT END *****/
.bookacti-booking-system > div,
.bookacti-notices,
.bookacti-picked-events		{ margin-bottom: 20px; }
.bookacti-booking-system	{ margin-bottom: 30px; }

.bookacti-picked-events { display: none; }
.to_date { display: inline-block; }

.bookacti-booking-system-calendar-only .bookacti-booking-system-title,
.bookacti-booking-system-calendar-only .bookacti-picked-events { display: none !important; }