/***** NOTIFICATION EDIT PAGE *****/

/** METABOXES **/
#poststuff #bookacti_notification_publish .inside { margin: 0; padding: 0; }
#bookacti-notification-author-container           { margin-bottom: 20px; }


/** FIELDS **/
#bookacti-notification-editor-page-container .bookacti-field-container  { margin-bottom: 10px; }
#bookacti-notification-editor-page-container .bookacti-field-container > label:first-of-type:not(.bookacti-fullwidth-label) { display: inline-block; width: 150px; }
#bookacti-notification-editor-page-container .bookacti-select           { width: 150px; }
#bookacti-notification-editor-page-container .bookacti-select[multiple] { height: 85px; }
#bookacti-notification-editor-page-container textarea                   { width: 260px; vertical-align: middle; resize: both; }

#bookacti-notification-editor-page-container input[type="text"],
#bookacti-notification-editor-page-container .bookacti-select        { width: 260px; }
#bookacti-notification-editor-page-container #bookacti-email-subject { width: 100%; }

/** EMAIL **/
.bookacti-notification-tag-promo   { background: #ffff78; }
.bookacti-notification-tags        { display: block; max-height: 400px; overflow: auto; padding-inline-end: 10px; }
.bookacti-notification-tag         { display: block; width: 100%; max-width: 250px; margin-bottom: 4px; }
.bookacti-notification-tag > input { font-family: Consolas, Monaco, monospace; direction: ltr; unicode-bidi: embed; font-weight: normal; font-size: 0.8em; width: 100%; min-height: unset; padding: 2px 6px;  margin: 0; border: none; background-color: rgba( 0, 0, 0, 0.05 ); box-shadow: none; cursor: help; }
.bookacti-notification-tag > input:focus { cursor: copy; }