/** TEMPLATE PAGE **/

/***** Global *****/
#bookacti-template-container *, #bookacti-template-container *:after, #bookacti-template-container *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#bookacti-template-container  { display: table; margin: 20px auto; }
#bookacti-template-container::after { clear: both; }
#bookacti-template-container .fc-unthemed .fc-content, 
#bookacti-template-container .fc-unthemed .fc-divider,
#bookacti-template-container .fc-unthemed .fc-popover,
#bookacti-template-container .fc-unthemed .fc-row,
#bookacti-template-container .fc-unthemed tbody,
#bookacti-template-container .fc-unthemed td,
#bookacti-template-container .fc-unthemed th,
#bookacti-template-container .fc-unthemed thead { border-color: #bbb; }

#bookacti-template-container + hr { margin: 30px auto; }



/***** Events *****/
#bookacti-template-container .fc-event.fc-draggable,
#bookacti-template-container .fc-helper								{ cursor: move; }
#bookacti-template-container .fc-event.bookacti-duplicate-event,
#bookacti-template-container .fc-helper.bookacti-duplicate-event	{ cursor: copy; }
#bookacti-template-container .fc-event.bookacti-event-dragged.bookacti-duplicate-event { visibility: visible !important; }

.bookacti-event-over .fc-bg::after { content: ' '; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3; background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%); background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%); background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); }

#bookacti-template-calendar .bookacti-picked-event						{ border-width: 1px; }
#bookacti-template-calendar .bookacti-picked-event .fc-bg				{ opacity: 0.25; }
#bookacti-template-calendar .bookacti-picked-event .fc-content::before	{ content: '\f344'; font-family: 'dashicons'; float: left; margin: 0 5px 0 2px; }

/* Event actions */
.bookacti-event-actions							{ display: none; position: absolute; right: 3px; top: 2px; z-index: 5; transition: all 0.2s; }
.bookacti-event-action							{ display: inline-block; min-width: 16px; max-width: 16px; text-align: center; vertical-align: middle; margin-left: 8px; }
.bookacti-event-action:first-child				{ margin-left: 0; }
.bookacti-event-over .bookacti-event-actions	{ display: block; }

.bookacti-event-action-select-checkbox								{ margin-right: 0 !important; border-radius: 50%; min-width: 16px !important; min-height: 16px !important; max-width: 16px !important; max-height: 16px !important; width: 16px !important; height: 16px !important; }
.bookacti-event-action-select-checkbox:not(:checked):hover::before	{ content: "\f147"; margin: -3px 0 0 -4px; color: #aaa; float: left; display: inline-block; vertical-align: middle; width: 16px !important; font: 400 21px/1 dashicons; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.bookacti-event-action-select-checkbox:checked::before				{ margin: -3px 0 0 -4px !important; font: 400 21px/1 dashicons !important; }
#bookacti-template-calendar .bookacti-selected-event														{ border-width: 2px; }
#bookacti-template-calendar .bookacti-selected-event .fc-bg													{ opacity: 0.5; transition: opacity 0.2s; }
#bookacti-template-calendar .bookacti-selected-event:not(.bookacti-picked-event) .bookacti-event-actions	{ right: 1px; top: 0; }

.bookacti-event-action-edit-button			{ font-size: 16px; transition: color 0.2s;  }
.bookacti-event-action-edit-button:hover	{ color: #aaa; cursor: pointer; }



/***** Sidebar *****/
#bookacti-template-sidebar		{ min-width: 240px; width: 240px; padding-right: 20px; border-right: 1px dashed #aaa; resize: both; overflow: auto; }

#bookacti-template-sidebar .dashicons:before		{ color: #565d61; }
#bookacti-template-sidebar .dashicons:hover:before	{ color: #418FB6; }

.bookacti-templates-box			{ -webkit-border-radius: 6px; border-radius: 6px; padding: 10px; margin-bottom: 12px; border: 1px solid #bbb; }
.bookacti-template-box-title	{ width: 100%; font-size: 1.2em; margin-bottom: 10px; font-weight: bold; }

.bookacti-template-box-title h4	{ display: table-cell; width: 100%; vertical-align: middle; }
.bookacti-insert-button			{ display: table-cell; padding-left: 4px; vertical-align: middle; cursor: pointer; }
#bookacti-template-sidebar .dashicons.bookacti-insert-button:before			{ color: #418FB6; transition: all 0.2s; }
#bookacti-template-sidebar .dashicons.bookacti-insert-button:hover:before	{ font-size: 32px; margin-right: -6px; transition: all 0.2s; }

#bookacti-template-picker-container	{ display: table-cell; width: 100%; vertical-align: middle; }
#bookacti-template-picker			{ width: 100%; }
#bookacti-update-template			{ display: table-cell; vertical-align: middle; padding-left: 10px; cursor: pointer; }

.activity-row			{ width: 100%; height: 24px; }
.activity-container		{ display: table-cell; width: 100%; max-width: 120px; vertical-align: middle; overflow: hidden; }
.activity-show-hide		{ display: table-cell; vertical-align: middle; padding-right: 10px; cursor: pointer; }
.activity-gear			{ display: table-cell; vertical-align: middle; padding-left: 10px; cursor: pointer; }
#bookacti-template-activities-container .fc-event { cursor: move; max-height: 16px; padding: 0 5px; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#bookacti-template-activities-container,
#bookacti-template-groups-of-events-container	{ padding-right: 6px; }
#bookacti-template-activity-list,
#bookacti-group-categories						{ overflow-y: auto; resize: vertical; padding-right: 4px; }
.bookacti-group-category-title,
.bookacti-update-group-category,
.bookacti-group-of-events-title,
.bookacti-update-group-of-events,
.bookacti-group-category-title span		{ display: table-cell; vertical-align: middle; }
.bookacti-update-group-category			{ padding-left: 10px; cursor: pointer; }
.bookacti-update-group-of-events		{ padding-right: 8px; cursor: pointer; }
.bookacti-groups-of-events-editor-list	{ margin-left: 8px; padding-left: 7px; margin-top: 8px; border-left: 1px dotted rgba(0,0,0,0.3); overflow-y: auto; resize: vertical; overflow-x: hidden; cursor: pointer; }
.bookacti-group-category-title			{ width: 100%; cursor: pointer; }
.bookacti-group-category-title span		{ font-weight: 600; }
.bookacti-group-category-title,
.bookacti-group-of-events-title			{ width: 100%; max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; transition: all 0.2s; }
.bookacti-group-of-events-title:hover	{ cursor: pointer; padding-left: 10px; }
.bookacti-group-category .bookacti-group-category-title::before							{ display: table-cell; vertical-align: middle; font-family: sans-serif; font-size: 0.8em; position: relative; min-width: 16px; text-align: left; }
.bookacti-group-category[data-show-groups='0'] .bookacti-group-category-title::before	{ content: '\25B7 '; }
.bookacti-group-category[data-show-groups='1'] .bookacti-group-category-title::before	{ content: '\25E2 '; }
#bookacti-insert-group-of-events		{ visibility: hidden; }
.bookacti-groups-of-events-editor-list,
#bookacti-template-add-first-group-of-events-container { display: none; }
.bookacti-group-category:not(:last-child) .bookacti-groups-of-events-editor-list	{ margin-bottom: 10px; }
.bookacti-group-of-events.bookacti-selected-group .bookacti-group-of-events-title	{ font-weight: 600; padding-left: 10px; }

#bookacti-template-shortcuts-container ul { font-size: 0.85em; }


/***** template content *****/
/* Template calendar */
#bookacti-template-content	{ display: table-cell; padding-left: 20px; width: 100%; }
#bookacti-template-calendar	{ vertical-align: top; width: 100%; }

/* First Template Area */
#bookacti-calendar-integration-tuto-container.bookacti-no-template,
#bookacti-template-sidebar.bookacti-no-template		{ display: none; }
#bookacti-first-template-container					{ height: 300px; }
#bookacti-first-template-container,
#bookacti-template-add-first-group-of-events-container,
#bookacti-template-first-activity-container			{ vertical-align: middle; text-align: center; width: 100%; }
#bookacti-add-first-template-button					{ cursor: pointer; font-size: 100px; width: 100px; height: 100px; }
#bookacti-template-add-first-group-of-events-button,
#bookacti-template-add-first-activity-button		{ cursor: pointer; font-size: 60px; width: 60px; height: 60px; }
#bookacti-add-first-template-button:hover,
#bookacti-template-add-first-group-of-events-button:hover,
#bookacti-add-first-template-button:hover			{ color: #418FB6; }


/***** Template dialogs *****/
/* General */
.bookacti-promo-events-examples	a.fc-event { display: inline-block; width: 120px; text-align: left; cursor: auto; }
.bookacti-tabs .bookacti-tab-content .bookacti-promo-events-examples div { margin-bottom: 0; }
.bookacti-tabs .bookacti-tab-content .bookacti-promo-events-examples { margin: 10px 0 0 0; }

/* Activity dialog */
#bookacti-activity-import-dialog label			{ display: inline-block; width: 150px; font-weight: bold; }
#bookacti-activity-import-dialog div			{ margin-bottom: 10px; }
#bookacti-activity-import-dialog div:last-child	{ margin-bottom: 0; }

#bookacti-activity-duration-days,
#bookacti-activity-duration-hours,
#bookacti-activity-duration-minutes	{ width: 50px; }

#bookacti-delete-activity-options	{ margin-top: 20px; }


/* Unbind dialog */
#bookacti-unbind-booked-event-dialog ul { list-style: disc; padding: 0 40px; }


/* Group of events dialog */
#bookacti-group-of-events-new-category-title { display: none; }
#bookacti-group-of-events-summary { width: 100%; max-width: 100%; overflow: auto; }


/***** RESPONSIVE DESIGN *****/
/* Small computer */
@media screen and ( max-width: 1280px ) {
}

/* Smartphone and tablet */
@media screen and ( max-width: 960px ) {
	#bookacti-template-sidebar		{ width: 180px; padding: 0; margin: 0; border: none; }
	#bookacti-template-content		{ padding-left: 12px; }
	
	.bookacti-event-action			{ margin-left: 2px; }
	
	.bookacti-group-category-title,
	.bookacti-group-of-events-title	{ max-width: 82px; }
}

/* Smartphone and small tablets */
@media screen and ( max-width: 564px ) {
	/* Put template sidebar under calendar */
	#bookacti-template-container {
		display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
		-webkit-box-orient: vertical; -moz-box-orient: vertical; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
		/* optional */
		-webkit-box-align: start; -moz-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start;
	}
	#bookacti-template-sidebar, 
	#bookacti-template-content	{ display: block; padding: 0; margin: 0; border: none; width: 100%; }
	#bookacti-template-sidebar	{ margin-top: 20px; -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-flex-order: 2; -webkit-order: 2; order: 2; }
	#bookacti-template-content	{ -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-flex-order: 1; -webkit-order: 1; order: 1; }
}