/***** BACKEND WOOCOMMERCE *****/
#woocommerce-product-data ul.product_data_tabs li.activity_tab a::before { font-family: dashicons; content:'\f508'; }
.bookacti-woo-title		{ padding: 1em 0 0.5em 0; }
.bookacti-hide-fields	{ display: none; }
.bookacti-show-fields	{ display: block; }
p.form-field._bookacti_groups_field { margin-bottom: 0; }
#bookacti-groups-options		{ margin-top: 0; }
#bookacti-groups-options label	{ float: none; margin: 0 0 0 7px; font-size: 12px; }
#bookacti-groups-options > span	{ display: block; clear: both; }

table.woocommerce_order_items ul.bookacti-events-list { margin: 0; }


/***** FRONTEND WOOCOMMERCE *****/
/* Single product page */
.woocommerce div.product form.cart table td.fc-axis {
	padding-left: 4px;
}

/* Cart, Checkout */
.bookacti-order-item-activity td.product-name .wc-item-meta .wc-item-meta-bookacti_booked_events,
.bookacti-cart-item-activity td.product-name dl.variation dt { float: none; }


/* My Account */
.woocommerce a.button.bookacti-booking-action { margin: 5px; }