/***** BACKEND WOOCOMMERCE *****/
#woocommerce-product-data .bookacti-loading-alt { display: inline-block; margin: 10px; }
#woocommerce-product-data ul.product_data_tabs li.activity_tab a::before { font-family: dashicons; content:'\f508'; }
.bookacti-woo-title		{ padding: 1em 0 0.5em 0; }
.bookacti-hide-fields	{ display: none; }
.bookacti-show-fields	{ display: block; }

p.form-field._bookacti_groups_field							{ margin-bottom: 0; }
.bookacti-groups-options									{ margin-top: 0; }
.bookacti-groups-options label,
.form-row.bookacti-groups-options label						{ float: none; width: auto; margin: 0 0 0 7px; font-size: 12px; }
.bookacti-groups-options > span,
.form-row.bookacti-groups-options > span					{ display: block; clear: both; }
.bookacti-groups-options > span > *,
.form-row.bookacti-groups-options > span > *				{ display: table-cell; padding-right: 8px; }
.bookacti-groups-options .woocommerce-help-tip,
.form-row.bookacti-groups-options .woocommerce-help-tip		{ float: none; }

.woocommerce_options_panel .bookacti-multiple-select-container		{ white-space: nowrap; display: inline-block; }
.woocommerce_options_panel .bookacti-multiple-select-container label{ float: none; width: auto; margin: 0; display: inline-block; }

table.woocommerce_order_items ul.bookacti-booking-events-list { margin: 0; }

.bookacti-deprecated-hidden	{ display: none; }
.woocommerce_options_panel .bookacti-wc-deprecated-note p.form-field { padding-left: 12px !important; }



/***** FRONTEND WOOCOMMERCE *****/
/* Single product page */
.woocommerce div.product form.cart table td.fc-axis { padding-left: 4px; }

/* Cart, Checkout */
.bookacti-order-item-activity td.product-name .wc-item-meta .wc-item-meta-bookacti_booked_events,
.bookacti-cart-item-activity td.product-name dl.variation dt { float: none; }


/* My Account */
.woocommerce a.button.bookacti-booking-group-action,
.woocommerce a.button.bookacti-booking-action { margin: 5px; }