/***** BACKEND WOOCOMMERCE *****/
#woocommerce-product-data ul.product_data_tabs li.activity_tab a::before { font-family: dashicons; content:'\f508'; }
.bookacti-woo-title { padding: 1em 0 0.5em 0; }

p.form-field._bookacti_groups_field          { margin-bottom: 0; }
.bookacti-groups-options                     { margin-top: 0; }
.bookacti-groups-options label,
.form-row.bookacti-groups-options label      { float: none; width: auto; margin: 0 0 0 7px; font-size: 12px; }
.bookacti-groups-options > span,
.form-row.bookacti-groups-options > span     { display: block; clear: both; }
.bookacti-groups-options > span > *,
.form-row.bookacti-groups-options > span > * { display: table-cell; padding-right: 8px; }
.bookacti-groups-options .woocommerce-help-tip,
.form-row.bookacti-groups-options .woocommerce-help-tip { float: none; }

.woocommerce_options_panel .bookacti-multiple-select-container       { white-space: nowrap; display: inline-block; }
.woocommerce_options_panel .bookacti-multiple-select-container label { float: none; width: auto; margin: 0; display: inline-block; }

.bookacti-empty-product-price-notice { clear: both; color: #f89b2f; }

table.woocommerce_order_items ul.bookacti-booking-events-list { margin: 0; }


/***** FRONTEND WOOCOMMERCE *****/

/* Booking forms */
.product.bookacti-activity form.cart .bookacti-success-list.woocommerce .button,
.bookacti-success-list.woocommerce a.button               { float: right; }
.bookacti-success-list.woocommerce li:not(:first-child) a.button.wc-forward { display: none; }
.product form.cart table.bookacti-total-price-table td    { padding-left: 10px; }
.product form.cart .bookacti-calendar table               { border-width: 0; }
.product form.cart .bookacti-calendar table.fc-scrollgrid { border-width: 1px 0 0 1px; }

/* Single product page */
.bookacti-wc-fullwidth-cart-form,
.bookacti-wc-fullwidth-cart-form form.cart                     { display: block; clear: both; width: 100%; }
.product.bookacti-activity form.cart table td.fc-axis          { padding-left: 4px; }
.woocommerce.single.single-product.bookacti-activity form.cart { width: 100%; }

	/* Elementor support */
	.product.bookacti-activity.elementor form.cart.variations_form .woocommerce-variation-add-to-cart, 
	.product.bookacti-activity.elementor form.cart:not(.grouped_form):not(.variations_form) { display: block !important; }
	
	/* WC PayPal Payments support */
	.product.bookacti-activity #cpsw-payment-request-wrapper,
	.product.bookacti-activity #ppc-button-ppcp-gateway,
	.product.bookacti-activity .paypal-buttons { display: none !important; }
	
	/* WC Payments support */
	.product.bookacti-activity .wcpay-express-checkout-wrapper { display: none !important; }
	
	/* WC Stripe support */
	.product.bookacti-activity #wc-stripe-payment-request-wrapper,
	.product.bookacti-activity #wc-stripe-payment-request-button-separator,
	.product.bookacti-activity .wc-stripe-payment-request-wrapper,
	.product.bookacti-activity .wc-stripe-payment-request-button-separator { display: none !important; }
	
	/* WC Payment support */
	.product.bookacti-activity #wcpay-payment-request-wrapper,
	.product.bookacti-activity #wcpay-payment-request-button-separator,
	.product.bookacti-activity .wcpay-payment-request-wrapper,
	.product.bookacti-activity .wcpay-payment-request-button-separator { display: none !important; }


/* Cart, Checkout */
.bookacti-cart-item-activity dd > p:first-child    { margin: 0; }
.woocommerce_order_items .bookacti-price-container { background-color:rgba(0,0,0,0.3); }

.wc-block-cart-items__row .bookacti-countdown-container:before,
.wc-block-cart-items__row .bookacti-wc-cart-item-status:before { content: ' - '; }
.wc-block-cart-items__row .bookacti-countdown-container,
.wc-block-cart-items__row .bookacti-wc-cart-item-status        { display: inline; font-size: .75em; font-style: italic; }
.wc-block-components-order-summary-item__description .bookacti-countdown-container,
.wc-block-components-order-summary-item__description .bookacti-wc-cart-item-status { margin-top: 8px; font-size: 1em; font-style: italic; }


/* My Account */
.woocommerce a.button.bookacti-booking-group-action,
.woocommerce a.button.bookacti-booking-action { margin: 5px; }